/* base.css */

/* CSS Reset / Normalize */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2d4f7b;
  /* --secondary-color: #ff0; */
  --secondary-color: #F4B400;
  --secondary-color-light: #F6BE2C;
  --text-color: #1a1a1a;
  --text-base-color: #f1f1f1;
  --background-color: #f5f5f5;
  --font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  line-height: 1.6;
  color: #1a1a1a;
  background-color: #f9f9f9;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 1rem;
}


img {
  max-width: 100%;
  display: block;
}

a:hover {
  text-decoration: none !important;
}
