.civic__culture-parallax {
  position: relative;
  height: 65vh;
  background-image: url("../img/civic_culture.png");
  /* Replace with your image */
  background-position: 30% 33%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.civic__caption {
  padding: 0.4rem 0.8rem;
  background-color: #fc5858;
}


.civic__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color);
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}
