.civic__culture-parallax {
    position: relative;
    height: 65vh;
    background-image: url("../img/civic_culture.png");
    /* Replace with your image */
    background-position: 30% 33%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
