.corporate__governance {
  position: relative;
  height: 65vh;
  background-image: url('../img/AESL-Board.jpg');
  /* Replace with your image */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corporate__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem 2rem;
}

.corporate__images img {
  border-radius: 0.5rem;
  width: 400px;
  height: 400px;
  object-fit: cover;
  box-shadow: 6px 6px 8px 0 #a0a0a0;
}

.padding {
  margin: 0 2rem 2rem 2rem;
}
