.corporate__governance {
    position: relative;
    height: 65vh;
    background-image: url("../img/AESL-Board-1.jpg");
    /* Replace with your image */
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corporate__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 2rem;
}

.corporate__images img {
    border-radius: 0.5rem;
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-shadow: 6px 6px 8px 0 #a0a0a0;
}

.padding {
    margin: 0 2rem 2rem 2rem;
}

.sector__board-member {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.sector__board-member-text {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

.sector__board-member-text h3 {
    margin-bottom: 1rem;
}

.sector__board-member-text p {
    font-size: 0.9rem;
}

.sector__board-member img {
    width: 100%;
    height: 100%;
}

.sector__board-member-links {
    display: flex;
    align-items: start;
    justify-content: center;
}

.sector__board-member-links a {
    border: 1px solid #fff;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    color: #fff;
}

.sector__board-member-links a:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.sector__board-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-left: 0.8rem;
    margin-bottom: 2rem;
}

.sector__board-wrapper img {
    padding: 0.5rem;
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.sector__board-members {
    border: 4px solid var(--primary-color);
    height: max-content;
}

.sector__board-members-text {
    color: #fff;
    background-color: var(--primary-color);
}

.sector__board-members-text h3 {
    font-size: 1rem;
}

.sector__board-members-text h5 {
    font-size: 0.9rem;
}

.sector__board-members-text p {
    font-size: 0.8rem;
}
