.site__footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 1.5rem;
    margin-left: 20%;
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: start;
}

.footer__nav svg {
    font-size: 1rem;
}

.footer__nav h5 {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.footer__nav ul {
    list-style: none;
}

.footer__nav ul > li {
    margin-bottom: 0.4rem;
}

.footer__nav ul a {
    color: white;
}

.footer__nav ul a:hover {
    color: var(--secondary-color);
}

.footer__bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer__content img {
    width: 3rem;
    border-radius: 50%;
}

.footer__content h4 {
    font-weight: bold;
    font-size: 1.22rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.footer__content p {
    font-size: 0.85rem;
    font-style: italic;
}

.footer__bottom > img {
    width: 3rem;
    border-radius: 50%;
}

.footer__icon-name {
    font-size: 1.5rem;
    letter-spacing: 0.5em;
}

.footer__content-site svg {
    margin-right: 0.4rem;
}

.footer__content-site {
    border: 1px solid #fff;
    padding: 0.2rem 1rem;
    border-radius: 0.8rem;
    margin-top: -0.8rem;
}

.footer__content-site a {
    color: white;
}

.footer__content-site:hover svg {
    color: var(--secondary-color);
}

.footer__content-site a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.footer__icons-detail {
    text-align: justify;
    font-size: 1rem !important;
    line-height: 1.5;
    font-style: italic;
}

.newsletter {
    margin-top: 3rem;
    border: 1px solid #fff;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    grid-column: span 2;
}

.footer__image-grid {
}

.footer__image-container {
}

.footer__image-container img {
    width: 10%;
    height: 40px;
    object-fit: contain;
}

.grid__2 {
    grid-column: span 2;
}

.footer__image-container h4 {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 900;
    text-transform: uppercase;
    height: 100%;
}

.newsletter h4 {
    padding: 2rem 0.5rem;
    margin-top: -4rem;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: var(--primary-color);
    max-width: max-content;
    z-index: 9;
}

.newsletter form input {
    padding: 0.8rem 1.5rem;
    border-radius: 0.2rem;
    border: none;
}

.footer__image-grid {
    margin-top: 3rem;
    column-span: span 1;
}

.image__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
}

.image__grid img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.image__size {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.grid__1 {
    grid-row: span 2;
    background-color: #fff;
}

.grid__2 {
    grid-column: span 2;
}

.subscribe {
    background-color: transparent;
    color: var(--secondary-color);
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
