.health__parallax {
    position: relative;
    height: 65vh;
    background-image: url("../img/health.jpg");
    /* Replace with your image */
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
