.history__parallax {
  position: relative;
  height: 65vh;
  background-image: url('../img/History.jpg');
  /* Replace with your image */
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history__image {
  width: 100%;
  padding: 2rem;
}

.history__image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.2);
}
