/* Sidebar styles */
.sidebar {
  width: 20%;
  background-color: var(--primary-color);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  padding-top: 20px;
  padding: 1rem;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.main-content {
  margin-left: 20%;
  /* padding: 20px; */
}

.img__logo {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 28%;
}

.nav__barlogo {
  color: var(--text-base-color)
}

a.sidebar__details {
  text-align: center;
  color: var(--text-base-color);
}

a.sidebar__details:hover {
  color: #999;
  text-decoration: none;
}

a:active {
  color: var(--secondary-color)
}

.company__name {
  letter-spacing: .5em;
  font-weight: 800;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.company__details {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.bars {
  width: 15px;
  height: 1px;
  background-color: var(--text-base-color);
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.company__date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.nav__links {
  margin-top: 1rem;
  display: flex;

}

.search__btn {
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: var(--text-base-color);
  color: var(--primary-color);
  cursor: pointer;
}

.search__input {
  border: none;
  padding: 0.2rem 0.5rem;
  width: 100%;
  border-radius: 0.25rem 0 0 0.25rem;
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  color: #999;
  font-size: 0.85rem;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.nav__menu a {
  /* background-color: #999; */
  margin: 0.2rem 0;
  padding: 0.25rem 0.5rem;
  color: var(--text-base-color);
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 1px 3px #ffffffba;
}

.nav__menu a.active {
  color: #f5f5f5;
  background-color: #555;
  text-decoration: none;
}

.nav__menu a:hover {
  color: #f5f5f5;
  background-color: #555;
  text-decoration: none;
}

.horizontal__line {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 1rem 0;
}

.social__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social__icons a {
  color: var(--text-base-color);
  font-size: 0.75rem;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  padding: 0.1rem 0.3rem
}

.social__icons a:hover {
  color: var(--secondary-color);
  background-color: #999;
  text-decoration: none;
}

.legal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
  margin-top: 0.5rem;
}

.legal a {
  color: var(--text-base-color);
  text-decoration: none;
}

.legal a:hover {
  color: #999;
  text-decoration: underline;
}

.toggle__sidebar {
  display: none;
}

/* home layout*/
/* Parallax container */
.parallax {
  position: relative;
  height: 90vh;
  background-image: url('../img/paralax_home.jpg');
  /* Replace with your image */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dark overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.70);
  /* Slight darken */
}

/* Text content */
.parallax .content {
  position: relative;
  color: white;
  padding: 1rem;
  z-index: 2;
}

.parallax .content h1 {
  font-size: 3rem;
  margin: 0;
}

.parallax .content p {
  font-size: 1.1rem;
  margin-top: 10px;
}

.buttons>* {
  margin-right: 1rem;
}

.info {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

/* Dark overlay */
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.80);
  /* Slight darken */
  border-radius: 2rem;
  z-index: -1;
}


.info__content {
  text-align: left;
  color: var(--text-color);
  grid-column: span 2;
}


.info__content h5 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-color);
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  z-index: 9;
}

.image__content {
  position: relative;
  padding: 1rem;
  width: 230px;
  height: 230px;
  margin: 2rem 1rem;
  border-radius: 2rem;
  box-shadow: -9px 8px 8px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  z-index: 9;
}

.image__background_1 {
  background-image: url('../img/home_about_1.jpeg');
  background-position: center center;
  background-size: cover;
}

.image__background_2 {
  background-image: url('../img/home_about_2.jpg');
  background-position: center center;
  background-size: cover;
}

.font__weight {
  margin-bottom: 1.5rem;
  font-weight: 800 !important;
}

.image__content h3:first-of-type {
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
}

.image__content h3:not(:first-of-type) {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 1.1rem;
  cursor: pointer;
}

.image__content h3:not(:first-of-type):hover {
  text-decoration: underline;
}


.image__content h3 {
  text-align: left;
}

.trusted__companies {
  display: grid;
  gap: 2rem;
  padding: 0 3rem;
  place-items: center;
  grid-template-columns: repeat(6, 1fr);
}

.trusted__companies img {
  max-width: 80px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

/*Projects*/

.projects {
  position: relative;
  height: 55vh;
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
  background-image: url(../img/project_background.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

.projects__header {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  /* display: grid; */
  /* gap: 1rem; */
  /* grid-template-columns: repeat(4, 1fr); */
  margin-top: 2rem;
  /* height: 100%; */
  /* height: 100%; */
  /* background: linear-gradient(90deg, #004e7c 30%, #0000); */
  padding: 1rem 1.2rem;
}

.projects__overlay-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.70);
}

/* .projects img { */
/*   position: absolute; */
/*   background-size: cover; */
/*   top: 2rem; */
/*   height: 100%; */
/*   z-index: -1; */
/* } */

.projects__header h2 {
  text-align: right;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--secondary-color);
  z-index: 10;
  /* color: #fff; */
}

.projects__header p {
  grid-column: span 3;
  font-weight: 600;
  /* font-weight: 700; */
  z-index: 10;
  font-size: 1.3rem;
  color: #fff;
  /* color: var(--secondary-color); */
}

.projects__gallery-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.projects__gallery {
  background-color: var(--primary-color);
}

.projects__gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.5rem;
}

.gallery__item {
  position: relative;
  cursor: pointer;
}

.gallery__item img {
  border-radius: 0.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.gallery__item p {
  position: absolute;
  bottom: -0.2rem;
  right: 1rem;
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  color: var(--primary-color);
  font-weight: 700;
  background-color: rgba(225, 225, 225, 0.6);
}

.gallery__item_6 {
  grid-column: span 2;
  background-color: white;
  padding: 1rem;
  border-radius: 0.8rem;
}

.gallery__item_6 h4 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: var(--primary-color);
}

.gallery__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.gallery__button {
  background-color: transparent;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

.gallery__button:hover {
  background-color: var(--primary-color);
}

.gallery__button:hover a {
  color: white;
}

.gallery__button a {
  color: var(--primary-color);
  text-decoration: none;
}

.gallery__button a:hover {
  text-decoration: none;
  color: white
}

.empty__card {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}

.more__projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 2rem;
}

.more__projects p {
  font-style: italic;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 1rem;
  /* display: grid; */
  /* gap: 1rem; */
  /* grid-template-columns: repeat(auto-fit, minmax(30px, 3fr)); */
}

.box {
  border: 1px solid var(--secondary-color);
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.page__location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 1rem 1rem;
  padding: 1rem 2rem;
}

.page__location p {
  font-size: 1rem;
  margin-bottom: -0.1rem;
}

.page__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.page__location img {
  width: 40px;
  height: auto
}

.page__flex p {
  font-size: 1.2rem;
  font-weight: 500;
}

/* footer */
.site__footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 1.5rem;
  margin-left: 20%;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: start;
}

.footer__nav svg {
  font-size: 1rem;
}

.footer__nav h5 {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__nav ul {
  list-style: none;
}

.footer__nav ul>li {
  margin-bottom: 0.4rem;
  /* margin-bottom: 1rem; */
}

.footer__nav ul a {
  color: white;
}

.footer__nav ul a:hover {
  color: var(--secondary-color)
}

.footer__icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 2rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__content h4 {
  font-weight: bold;
  font-size: 1.22rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.footer__content p {
  font-size: 0.85rem;
  font-style: italic;
}

.footer__icons img {
  width: 3rem;
  border-radius: 50%;
}

.footer__icon-name {
  font-size: 1.5rem;
  letter-spacing: .5em;
}

.footer__content-site svg {
  margin-right: 0.4rem;
}

.footer__content-site {
  border: 1px solid #fff;
  padding: 0.2rem 1rem;
  border-radius: 0.8rem;
  margin-top: -0.8rem;
}

.footer__content-site a {
  color: white;
}

.footer__content-site:hover svg {
  color: var(--secondary-color);
}


.footer__content-site a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.footer__icons-detail {
  text-align: justify;
  font-size: 1.0rem !important;
  line-height: 1.5;
  font-style: italic;
}

.footer__newsletter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}


.newsletter {
  margin-top: 3rem;
  border: 1px solid #fff;
  /* position: relative; */
  padding: 1.5rem;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer__image-grid {
  grid-column: span 1;
}

.newsletter h4 {
  padding: 0 0.5rem;
  margin-top: -4rem;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: var(--primary-color);
  max-width: max-content;
  z-index: 9;
}

.newsletter form input {
  padding: 0.8rem 1.5rem;
  border-radius: 0.2rem;
  border: none;
}

.footer__image-grid {
  margin-top: 3rem;
}

.image__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
}

.footer__image-grid img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.grid__1 {
  grid-row: span 2;
  background-color: #fff;
}


.grid__2 {
  grid-column: span 2;
}

.subscribe {
  background-color: transparent;
  color: var(--secondary-color);
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* projects */

/* PARALLAX SECTION */
.projects__parallax {
  position: relative;
  height: 40vh;
  background-image: url('../img/projects.jpeg');
  /* Replace with your image */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.70);
  /* Slight darken */
}

.projects__caption {
  padding: 0.4rem 0.8rem;
  background-color: var(--secondary-color);
}

.projects__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color);
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

.projects__title-sub {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color);
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  justify-content: start;
  align-items: center;
}


.projects__cards {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: var(--primary-color);
}

.projects__card,
.projects__card-link {
  border-radius: 16px;
  backdrop-filter: blur(6px);
  padding: 1rem;
  box-shadow: 0 1px 3px #ffffffba;
  border: 1px solid #fff;
  color: #fff;
  height: 170px;
  width: 180px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.projects__card a {
  margin-bottom: -0.1rem;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #fff;
}

.projects__card a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.projects__card-link {
  background-color: #fff;
}

.projects__card-link a {
  color: var(--primary-color);
  text-decoration: underline;
}

.projects__card-link a:hover {
  color: var(--secondary-color);
}

.projects__text {
  margin-top: 1.5rem;
  padding: 1rem 3rem;
}

.projects__text p {
  line-height: 1.4;
  color: var(--primary-color);
  letter-spacing: 2px;
  text-align: justify;
  font-size: 1.5rem;

}

.projects__showcases {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem;
  background-color: #eee;
}


.projects__showcase {
  background-color: var(--primary-color);
  padding: 0.4rem 0.9rem;
  border-radius: 0.4rem;
}

.projects__showcase-title {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background-color: #f5f5f524;
  padding: 0.3rem;
  border-radius: 0.4rem;
  color: var(--secondary-color);
  margin-bottom: 0.4rem;
}

.projects__showcase-title h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.projects__showcase-title h5 {
  font-size: 1rem;
}

.projects__client {
  color: #fff;
  margin-bottom: 1rem;
}

.projects__client h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

.projects__client h5 {
  font-size: 1.1rem;
  font-weight: 500;
}

.horizontal__rule {
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
}

.projects__showcase img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}

.projects__into {
  color: #fff;
  margin-top: 1rem;
  font-style: italic;
}

.project__category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  color: #fff;
  background-color: #f5f5f524;
}

.project__category p {
  margin-bottom: 0rem;
}

.project__category p:first-of-type {
  background-color: #fff;
  color: var(--primary-color);
  font-size: 0.8rem;
  border-radius: 0.2rem;
  font-weight: 500;
  padding: 0.3rem;
}

.project__category p:not(:first-of-type) {
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  font-size: 0.8rem;
  border-radius: 0.2rem;
  font-weight: 500;
  padding: 0.3rem;
  color: var(--secondary-color)
}

.read__more {
  background-color: transparent;
  color: var(--secondary-color);
  padding: 0.35rem 1.3rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.read__more:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

/** project details page **/
.projects__detail__parallax {
  position: relative;
  height: 65vh;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.projects__detail__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75)
}

.details__content {
  position: absolute;
  color: white;
  padding: 1rem;
  bottom: 1rem;
  z-index: 2;
}

.details__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  position: relative;
  padding: 0.8rem 1rem;
  top: -3rem;
  z-index: 9;
}

.details__card {
  border-radius: 0.8rem;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.70);
}

.details__card-head {
  margin-bottom: 1rem;
}

.details__head {
  font-weight: 700;
  margin-bottom: -0.1rem;
}

.details__card-body p:not(:first-of-type) {
  margin-bottom: -0.1rem;
}

.details__body {
  font-weight: 300;
}

.details__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1;
  overflow: hidden
}

.wrapper__1 {
  grid-column: span 4
}

.wrapper_2 {
  grid-column: span 1;
  margin-bottom: 2rem;

}

.wrapper_2>a {
  color: var(--primary-color);
  padding: 1rem 0.8rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

.wrapper_2>a:hover {
  color: var(--secondary-color);
}

.wrapper__links {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-top: 2rem;
}

.wrapper__links a {
  color: var(--primary-color);
  font-style: italic;
  transition: hover cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.wrapper__links a:hover {
  color: var(--secondary-color);
  font-weight: 800;
}

.project__details-text,
.projects__details-gallery,
.projects__construction-gallery,
.projects__detail-data {
  padding: 0 1rem;
}

.project__details-text h2,
.projects__details-gallery h2,
.projects__construction-gallery h2,
.projects__detail-data h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 700;
}

.project__details-text p {
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.projects__details-gallery h2 {
  font-size: 3rem;
}

/* Masonry Grid */
.projects__masonry-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 10px;
  /* Base row height for masonry */
  gap: 15px;
}

.projects__image {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

  /* Make each item span multiple rows based on image height */
  display: grid;
}

.projects__image img {
  width: 100%;
  /* keep width 100% of container */
  height: auto;
  /* maintain natural height */
  display: block;
}

.projects__image:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.projects__construction-gallery h2 {
  margin-top: 4rem;
}

.projects__detail-data {
  margin-top: 3rem;

}

.data__grid-top {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.projects__data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.projects__data-span {
  grid-column: span 2;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.70);
}

.projects__data-span img {
  width: 100%;
  height: 400px;
}

.awards__container {
  display: flex;
  justify-content: start;
  align-items: start;
}

.award__detail {
  font-size: 0.85rem;
  margin-left: 0.5rem;
}

.award__detail p {
  margin-bottom: -0.3rem;
}

.award__detail a {
  color: var(--secondary-color)
}

.award__detail a:hover {
  color: var(--secondary-color-light);
}
