/* Sidebar styles */
.sidebar {
  width: 20%;
  background-color: var(--primary-color);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  padding-top: 20px;
  padding: 1rem;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.main-content {
  margin-left: 20%;
  /* padding: 20px; */
}

.img__logo {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 28%;
}

.nav__barlogo {
  color: var(--text-base-color)
}

a.sidebar__details {
  text-align: center;
  color: var(--text-base-color);
}

a.sidebar__details:hover {
  color: #999;
  text-decoration: none;
}

a:active {
  color: var(--secondary-color)
}

.company__name {
  letter-spacing: .5em;
  font-weight: 800;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.company__details {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.bars {
  width: 15px;
  height: 1px;
  background-color: var(--text-base-color);
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.company__date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.nav__links {
  margin-top: 1rem;
  display: flex;

}

.search__btn {
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: var(--text-base-color);
  color: var(--primary-color);
  cursor: pointer;
}

.search__input {
  border: none;
  padding: 0.2rem 0.5rem;
  width: 100%;
  border-radius: 0.25rem 0 0 0.25rem;
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  color: #999;
  font-size: 0.85rem;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.nav__menu a {
  /* background-color: #999; */
  margin: 0.2rem 0;
  padding: 0.25rem 0.5rem;
  color: var(--text-base-color);
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 1px 3px #ffffffba;
}

.nav__menu a:hover {
  color: #f5f5f5;
  background-color: #555;
  text-decoration: none;
}

.horizontal__line {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 1rem 0;
}

.social__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social__icons a {
  color: var(--text-base-color);
  font-size: 0.75rem;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  padding: 0.1rem 0.3rem
}

.social__icons a:hover {
  color: var(--secondary-color);
  background-color: #999;
  text-decoration: none;
}

.legal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
  margin-top: 0.5rem;
}

.legal a {
  color: var(--text-base-color);
  text-decoration: none;
}

.legal a:hover {
  color: #999;
  text-decoration: underline;
}

.toggle__sidebar {
  display: none;
}

/* home layout*/
/* Parallax container */
.parallax {
  position: relative;
  height: 90vh;
  background-image: url('../img/paralax_home.jpg');
  /* Replace with your image */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dark overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.80);
  /* Slight darken */
}

/* Text content */
.parallax .content {
  position: relative;
  color: white;
  padding: 1rem;
  z-index: 2;
}

.parallax .content h1 {
  font-size: 3rem;
  margin: 0;
}

.parallax .content p {
  font-size: 1.1rem;
  margin-top: 10px;
}

.buttons>* {
  margin-right: 1rem;
}

.info {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

.info__content {
  text-align: left;
  color: var(--text-color);
  grid-column: span 2;
}

.info__content h5 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-color);
  margin-bottom: 1.2rem;
}
