/* main.css - imports all CSS files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import "base.css";
@import "layout.css";
@import "utilities.css";
@import "practice.css";
@import "sector-ministry.css";
@import "corporate-governance.css";
@import "management.css";
@import "managing-director.css";
@import "staff-detail.css";
@import "history.css";
@import "functions.css";
@import "mandate.css";
@import "mission-vision.css";
@import "services.css";
@import "principles.css";
@import "people.css";
@import "principal-consultants.css";
@import "publication.css";
@import "civic-culture.css";
@import "education.css";
@import "health.css";
@import "office-retail.css";
@import "residential.css";
@import "industrial.css";
@import "hospitality.css";
@import "sport-leisure.css";
@import "landscape-planning.css";
@import "project_list.css";
@import "projects.css";
@import "board_chairman.css";
@import "responsive.css";
