.director__details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem 2rem;
}

.director__CV {
  background-color: var(--secondary-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.director__text {
  grid-column: span 2;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
}

.director__text h4 {
  font-weight: bold;
  font-style: italic;
}

.director__achievement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem 2rem;
}

.director__achievement {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  line-height: 1.8;

}

.director__alumni-title {
  margin: 1rem 2rem 0.5rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.director__alumni-title h2 {
  font-weight: 700;
  color: var(--primary-color);
}

.director__alumni-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem 2rem;
}

.director__alumni-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.director__alumni {
  position: relative;
}

.alumni__text {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  color: #fff;
}

.alumni__text h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}
