.managemet__parallax {
    position: relative;
    height: 65vh;
    background-image: url("../img/managment.jpeg");
    /* Replace with your image */
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.director__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem 2rem;
}

.director__div {
    overflow: hidden;
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    position: relative;
}

.col__span {
    grid-column: span 3;
}

.director__info {
    z-index: 10;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
    color: #fff;
    padding: 0.7rem;
    text-transform: uppercase;
}

.director__info h5 {
    font-size: 0.9rem;
    font-weight: 600;
}

.director__info p {
    font-size: 0.7rem;
}

.managing__director {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    margin: 1rem 2rem;
    /* margin-left: 1rem; */
}

.managing__director > * {
    margin-bottom: 1rem;
}

.managing__director a {
    color: white;
}

.managing__director-message {
    background-color: #999;
    color: white;
    padding: 1rem;
    margin: 1rem 2rem;
}

.managing__director-message h3 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
}

.managing__director-image {
    margin: 0.5rem 2rem;
    padding: 0.5rem;
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.2);
}

.managing__director-image img {
    width: 100%;
    height: 400px;
    object-position: top center;
    object-fit: cover;
}

.director__heading {
    margin: 1rem 2rem 1rem;
}

.director__heading h4 {
    font-weight: 700;
}

.dept__heads-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 2rem;
}

.dept__head {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.dept__head img {
    padding: 0.5rem;
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    height: 250px;
    width: 100%;
    object-fit: contain;
}

.dept__head-img {
    padding: 0.5rem;
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    height: 250px;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.dept__head-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
}

.dept__head-info h4 {
    font-weight: 700;
    font-size: 1.1rem;
}

.dept__head-info p {
    font-size: 0.9rem;
    margin-bottom: -0.1rem;
}

.dept__head-info a {
    margin-bottom: 1rem;
}

.margin {
    margin-top: 2rem;
}
