 .people__parallax {
   position: relative;
   height: 65vh;
   background-image: url('../img/people.jpeg');
   /* Replace with your image */
   background-attachment: fixed;
   background-position: bottom;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .people__wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
   padding: 1rem 2rem;
 }

 .people__text {
   grid-column: span 2;
   color: var(--primary-color);
 }

 .people__text h4 {
   font-size: 2rem;
   font-weight: bold;
 }

 .people__text p {
   font-size: 1.1rem;
   margin-bottom: 2rem;
 }

 .people__img {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   gap: 1rem;
 }

 .people__img img {
   border-radius: 1rem;
   box-shadow: 0 2px 4px #888;
   margin-bottom: 2rem;
   height: 200px;
   width: 100%;
 }

 .people__img button {
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
   outline: 0;
   padding: 1rem 1.5rem;
   border-radius: 0.8rem;
   width: 100%;
   background-color: transparent;
 }


 .people__img button:hover,
 .people__img button:hover a {
   background-color: var(--primary-color);
   color: #fff;
 }
