.residential__parallax {
  position: relative;
  height: 65vh;
  background-image: url("../img/projects.jpeg");
  /* Replace with your image */
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.residential__caption {
  padding: 0.4rem 0.8rem;
  background-color: #F57C00;
}


.residential__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  /* color: var(--primary-color); */
  color: #fff;
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}
