/* /* responsive.css */
*/
/**/
/* /* Mobile first approach */
*/
/* @media (max-width: 768px) { */
/*   .grid-2 { */
/*     grid-template-columns: 1fr; */
/*   } */
/**/
/*   .grid-3 { */
/*     grid-template-columns: 1fr; */
/*   } */
/**/
/*   .grid-4 { */
/*     grid-template-columns: 1fr; */
/*   } */
/**/
/*   .navbar { */
/*     flex-direction: column; */
/*     gap: 1rem; */
/*   } */
/**/
/*   .container { */
/*     width: 95%; */
/*   } */
/* } */
/**/
/* @media (min-width: 769px) and (max-width: 1024px) { */
/*   .grid-3 { */
/*     grid-template-columns: repeat(2, 1fr); */
/*   } */
/**/
/*   .grid-4 { */
/*     grid-template-columns: repeat(2, 1fr); */
/*   } */
/* } */
