  /* Desktop */
  @media (min-width: 998px) {
    .mobile__nav {
      display: none;
    }

    .mobile__menuoverlay {
      display: none;
    }


  }

  /* Tablets and large phones */
  @media (max-width: 998px) {
    .sidebar {
      display: none;
    }

    .mobile__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.3rem 0.5rem;
      background-color: var(--primary-color);
    }

    .mobileimg__logo {
      max-width: 20%;
    }

    .mobile__menubtn {
      color: #f1f1f1;
      background-color: transparent;
      padding: 0.1rem 0.5rem;
      border: 1px solid #f1f1f1;
      cursor: pointer;
    }

    .main-content {
      margin-left: 0;
    }

    .mobile__menuoverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 30%;
      display: none;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1000;
      transition: all 0.4ms cubic-bezier(0.68, -0.55, 0.265, 1.55)u;
    }

    .toggle__sidebar {
      display: block;

    }

    .mobile__side {
      padding: 0 2rem
    }

    .closebtn {
      color: #f1f1f1;
      float: right;
      background-color: transparent;
      padding: 0.1rem 0.5rem;
      border: 1px solid #f1f1f1;
      cursor: pointer;
      margin-top: 1rem;
    }

    .mobile__menuoverlay {
      padding: 0 1rem
    }

    .company__name {
      margin-top: 2rem;
    }


  }

  /* Tablet phones */
  @media (max-width: 768px) {
    .mobile__menuoverlay {
      width: 50%;
      z-index: 1000;
    }

  }

  /* Tablet phones */
  @media (max-width: 480px) {
    .mobile__menuoverlay {
      width: 80%;
      z-index: 1000;
    }

  }
