.right__to-information {
  margin: 1rem 2rem;
  color: var(--primary-color);
}

.right__to-information h1 {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
  /* text-transform: uppercase; */
}

.right__to-information h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 3rem;
  /* text-transform: uppercase; */
  text-transform: capitalize;
}

.right__to-information p {
  line-height: 1.6;
  color: var(--primary-color);
  text-align: left;
  font-weight: 300;
  font-size: 1.25rem;
}


ol[type="a"] li,
ol li {
  line-height: 1.6;
  color: var(--primary-color);
  text-align: left;
  font-weight: 300;
  font-size: 1.25rem;
}

ol[type="a"] li ul {
  line-height: 1.6;
  text-align: left;
  font-weight: 300;
  font-size: 1.25rem;
  list-style-type: disc;
}

ul {
  margin-left: 20px;
  list-style-type: disc;
}
