.sector__parallax {
  position: relative;
  height: 65vh;
  background-image: url("../img/works.jpg");
  /* Replace with your image */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sector {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  position: relative;
}

.sector__text {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
}

.sector__text p {
  line-height: 1.4;
  color: var(--primary-color);
  letter-spacing: 2px;
  text-align: justify;
  font-size: 1.4rem;
}

.grid__span {
  grid-column: span 4;
}

.sector__aside {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-left: 2px solid var(--primary-color);
  padding-left: 0.5rem;
}

.active {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
}

.sector__links-wrapper>a {
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: #888;
  margin: 2rem 0;
}

.sector__links-wrapper p {
  margin-top: 0.5rem;
}

.sector__links-wrapper>a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.sector__links-wrapper {
  font-size: 0.9rem;
  margin: 2rem 0;
  font-weight: 600;
  color: #555;
}

.sector__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sector__links p {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: underline;
}

.sector__links a {
  font-style: italic;
  font-size: 0.8rem;
  color: #999;
}

.sector__links a:hover {
  color: var(--secondary-color);
}

.sector__wrapper {
  margin: 2rem;
}

.sector__wrapper img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.sector__headline {
  margin: 2rem 0;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.sector__headline h4 {
  font-weight: 600;
  font-size: 2rem;
}

.sector__headline p {
  font-style: italic;
}

.sector__minister {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4;
}

.sector__minister img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  padding-right: 2rem;
}

.sector__minister p {
  color: var(--primary-color);
}

.sector__name {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sector__name span {
  font-weight: 700;
  font-size: 1.2rem;
}

.sector__name p {
  position: absolute;
  bottom: 1%;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.sector__navigation p {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: -0.1rem;
}

.sector__navigation {
  font-size: 0.9rem;
}

.sector__navigation a {
  color: var(--primary-color);
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem !important;
}
