.sport__leisure-parallax {
  position: relative;
  height: 65vh;
  background-image: url("../img/sports_and_leisure.jpg");
  /* Replace with your image */
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sport__caption {
  padding: 0.4rem 0.8rem;
  background-color: #2E7D32;
}


.sport__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  /* color: var(--primary-color); */
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}
