{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="civic__culture-parallax">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Civic and Culture</h1>
    </div>
</section>

<!-- Projects__cards -->

{% include 'partial/projects-card.html' %}

<!-- Projects Text -->
<section class="projects__text">
    <p>
        Our Civic and Culture projects focus on creating spaces that bring
        communities together, fostering creativity, heritage, and engagement.
        From theatres, museums and cultural centres to civic buildings, we
        design environments that inspire and serve the public. Our offshore
        projects include many Ghanaian embassies abroad.Notably AESL is known
        for the collaboration in the development of the National Theatre and
        seat of Government of Ghana, the Jubilee House.
    </p>
    <hr />
</section>

<section class="civic__culture-gallery">
    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/1.jpg' %}" alt="" />
        <figcaption>Label or description for image 1</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/2.jpg' %}" alt="" />
        <figcaption>Label or description for image 2</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/3.jpg' %}" alt="" />
        <figcaption>Label or description for image 3</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/4.jpg' %}" alt="" />
        <figcaption>Label or description for image 4</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c5.jpg' %}" alt="" />
        <figcaption>Label or description for image c5</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c6.jpg' %}" alt="" />
        <figcaption>Label or description for image c6</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c8.jpg' %}" alt="" />
        <figcaption>Label or description for image c8</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c9.jpg' %}" alt="" />
        <figcaption>Label or description for image c9</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c10.jpg' %}" alt="" />
        <figcaption>Label or description for image c10</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c11.jpg' %}" alt="" />
        <figcaption>Label or description for image c11</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c12.jpg' %}" alt="" />
        <figcaption>Label or description for image c12</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c13.jpg' %}" alt="" />
        <figcaption>Label or description for image c13</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c14.jpg' %}" alt="" />
        <figcaption>Label or description for image c14</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c15.jpg' %}" alt="" />
        <figcaption>Label or description for image c15</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c16.jpg' %}" alt="" />
        <figcaption>Label or description for image c16</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c17.jpg' %}" alt="" />
        <figcaption>Label or description for image c17</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c18.jpg' %}" alt="" />
        <figcaption>Label or description for image c18</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c19.jpg' %}" alt="" />
        <figcaption>Label or description for image c19</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c20.jpg' %}" alt="" />
        <figcaption>Label or description for image c20</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c21.jpg' %}" alt="" />
        <figcaption>Label or description for image c21</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c22.jpg' %}" alt="" />
        <figcaption>Label or description for image c22</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c23.jpg' %}" alt="" />
        <figcaption>Label or description for image c23</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/24.jpg' %}" alt="" />
        <figcaption>Label or description for image 24</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/25.jpg' %}" alt="" />
        <figcaption>Label or description for image 25</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/26.jpg' %}" alt="" />
        <figcaption>Label or description for image 26</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/27.jpg' %}" alt="" />
        <figcaption>Label or description for image 27</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c25.jpg' %}" alt="" />
        <figcaption>Label or description for image c25</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c26.jpg' %}" alt="" />
        <figcaption>Label or description for image c26</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c28.jpg' %}" alt="" />
        <figcaption>Label or description for image c28</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c29.jpg' %}" alt="" />
        <figcaption>Label or description for image c29</figcaption>
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c30.jpg' %}" alt="" />
        <figcaption>Label or description for image c30</figcaption>
    </figure>
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
