{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="civic__culture-parallax">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Civic and Culture</h1>
    </div>
</section>

<!-- Projects__cards -->

{% include 'partial/projects-card.html' %}

<!-- Projects Text -->
<section class="projects__text">
    <p>
        Our Civic and Culture projects focus on creating spaces that bring
        communities together, fostering creativity, heritage, and engagement.
        From theatres, museums and cultural centres to civic buildings, we
        design environments that inspire and serve the public. Our offshore
        projects include many Ghanaian embassies abroad.Notably AESL is known
        for the collaboration in the development of the National Theatre and
        seat of Government of Ghana, the Jubilee House.
    </p>
    <hr />
</section>

<section class="civic__culture-gallery">
    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/1.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/2.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/4.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c5.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/6.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/7.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c9.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c10.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c15.jpg' %}" alt="" />
    </figure>
    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c16.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c19.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c20.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/25.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c25.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/25.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/27.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c26.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c29.jpg' %}" alt="" />
    </figure>

    <figure class="culture-card">
        <img src="{% static 'img/civic_culture/c30.jpg' %}" alt="" />
    </figure>
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
