{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main content -->
<section class="principal__parallax">
  <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
  <div>
    <h1 class="projects__title">
      Consultants
    </h1>
  </div>
</section>

<!-- Projects__cards -->
{% include 'partial/people-card.html' %}


<section id="ministy-work" class="sector">
  <!-- Projects Text -->
  <article class="grid__span">
    <section class="sector__text">
      <p>
        Consultants play a vital role in delivering tailored design and engineering solutions. They collaborate closely
        with clients to understand their needs and develop innovative strategies that address unique challenges.
        Consultants bring specialized knowledge in areas such as structural, mechanical, or electrical engineering,
        enhancing project quality. Through effective communication and teamwork, they ensure projects progress smoothly
        from inception to completion. Their commitment to sustainability and best practices helps create spaces that are
        both functional and environmentally friendly.
      </p>
    </section>

    <section class="senior__consultants">
      <div class="consultants">
        <img src="{% static 'img/board-member-01.jpeg' %}" alt="random" />
        <div class="consultants__details">
          <h4>Ing. Charles N.Adigvom</h4>
          <h5>~ Civil Engineer ~ </h5>
          <p>AESL_HEAD OFFICE - Civil Engineering</p>
        </div>
        <div class="consultants__media">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
      <div class="consultants">
        <img src="{% static 'img/board-member-01.jpeg' %}" alt="random" />
        <div class="consultants__details">
          <h4>Ing. Charles N.Adigvom</h4>
          <h5>~ Civil Engineer ~ </h5>
          <p>AESL_HEAD OFFICE - Civil Engineering</p>
        </div>
        <div class="consultants__media">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
      <div class="consultants">
        <img src="{% static 'img/board-member-01.jpeg' %}" alt="random" />
        <div class="consultants__details">
          <h4>Ing. Charles N.Adigvom</h4>
          <h5>~ Civil Engineer ~ </h5>
          <p>AESL_HEAD OFFICE - Civil Engineering</p>
        </div>
        <div class="consultants__media">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
      <div class="consultants">
        <img src="{% static 'img/board-member-01.jpeg' %}" alt="random" />
        <div class="consultants__details">
          <h4>Ing. Charles N.Adigvom</h4>
          <h5>~ Civil Engineer ~ </h5>
          <p>AESL_HEAD OFFICE - Civil Engineering</p>
        </div>
        <div class="consultants__media">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
      <div class="consultants">
        <img src="{% static 'img/board-member-01.jpeg' %}" alt="random" />
        <div class="consultants__details">
          <h4>Ing. Charles N.Adigvom</h4>
          <h5>~ Civil Engineer ~ </h5>
          <p>AESL_HEAD OFFICE - Civil Engineering</p>
        </div>
        <div class="consultants__media">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
      <div class="consultants">
        <img src="{% static 'img/board-member-01.jpeg' %}" alt="random" />
        <div class="consultants__details">
          <h4>Ing. Charles N.Adigvom</h4>
          <h5>~ Civil Engineer ~ </h5>
          <p>AESL_HEAD OFFICE - Civil Engineering</p>
        </div>
        <div class="consultants__media">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
      <div class="consultants">
        <img src="{% static 'img/board-member-01.jpeg' %}" alt="random" />
        <div class="consultants__details">
          <h4>Ing. Charles N.Adigvom</h4>
          <h5>~ Civil Engineer ~ </h5>
          <p>AESL_HEAD OFFICE - Civil Engineering</p>
        </div>
        <div class="consultants__media">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
      <div class="consultants">
        <img src="{% static 'img/board-member-01.jpeg' %}" alt="random" />
        <div class="consultants__details">
          <h4>Ing. Charles N.Adigvom</h4>
          <h5>~ Civil Engineer ~ </h5>
          <p>AESL_HEAD OFFICE - Civil Engineering</p>
        </div>
        <div class="consultants__media">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
    </section>

  </article>

  <aside class="sector__aside">
    <div class="sector__links-wrapper">
      <a href="{% url 'people' %}">Back to People</a>
      <p>Senior Consultants</p>
      <div class="sector__links">
        <a href="#ministy-work">AESL Senior Consultants</a>
        <a href="#sector">AESL Senior Consultants List</a>
      </div>
    </div>
    <div class="sector__navigation">
      <p>Next</p>
      <a href="{% url 'services' %}">Senior Consultants</a>
    </div>
  </aside>
</section>


<!-- page location Section -->
<section class="page__location">
  <div class="page__flex">
    <img src="{% static 'img/aesl_logo.png' %}" alt="aesl logo" class="info__building-image-large" />
    <p>AESL || {{title}}</p>
  </div>
  <p>Consulting Architects,<br /> Engineers and Surveyors</p>
</section>


{% endblock content %}
