{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="corporate__governance">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Corporate Governance</h1>
    </div>
</section>

<!-- Projects__cards -->
{% include 'partial/card-nav.html' %}

<section id="ministy-work" class="sector">
    <!-- Projects Text -->
    <article class="grid__span">
        <section class="sector__text">
            <p>
                AESL's corporate governance upholds ethical standards and
                promotes integrity and professionalism through a comprehensive
                code of conduct and a well-structured Board of Directors.
            </p>
        </section>

        <section class="corporate__images">
            <img src="{% static 'img/bod-01.jpg' %}" alt="bod -1" />
            <img src="{% static 'img/bod-02.jpeg' %}" alt="bod -1" />
            <img src="{% static 'img/bod-03.jpeg' %}" alt="bod -1" />
            <img src="{% static 'img/bod-04.jpeg' %}" alt="bod -1" />
        </section>

        <div class="sector__headline padding">
            <p>Practice || Sector Ministry || Overview</p>
        </div>

        <div id="sector" class="sector__headline padding">
            <h4>Board Chairman</h4>
        </div>

        <section class="padding sector__board-member">
            <div class="sector__board-member-text">
                <h3>Prof. Kwasi Asamoah</h3>
                <h5>Board Chairman</h5>
                <p class="truncate__multi-10">
                    In 2019 your company operated in a domestic condition that
                    witnessed a real GPD growthof 6.5% from 6.3% in 2018. This
                    was on the back of subbed inflation rate at the end of the
                    year at 9.6% from the 9.4% during the year end 2018. This
                    was a reflection of the tight monetary policy measures
                    implemented during that year. A budget deflicit of 4.8%of
                    GDP amounting to GH¢ 3.69 billion was recorded in 2019 (as
                    revenue amounted to GH¢ 58.9 billion against an expenditure
                    of GH¢ 41.6 billion in 2018). There was a deterioration in
                    the trade balance with an overall balance of payments
                    deficit on cash basis of GH¢15.7 billion representing 4.5%
                    of GDP 2019. The Cedi eventually depreciated by 12.9% in
                    2019. Anxiety about the upcoming 2020 election led to a
                    general “wait and see” attitude on the part of investors and
                    businessmen, both local and foreign. The Election was viewed
                    as a success by the International Community because it did
                    not result in violence and civil strife. This was the
                    economic environment in which your Company operated in 2019.
                </p>
                <div class="sector__board-member-links">
                    <a class="link__button" href="#">Linkedln</a>
                    <a class="link__button" href="#">Twitter</a>
                    <a class="link__button" href="{% url 'board_chairman' %}"
                        >Read More</a
                    >
                </div>
            </div>
            <img
                src="{% static 'img/board-chairman.jpg' %}"
                alt="board Chairman"
            />
        </section>

        <div class="sector__headline padding">
            <p>Practice || Corporate Governance || Board Chairman</p>
        </div>

        <div id="sector" class="sector__headline padding">
            <h4>Board Members</h4>
        </div>

        <!-- Board Member 1 -->
        <section class="sector__board-wrapper">
            {% for board_member in board_members %}
            <section class="sector__board-members">
                <div class="sector__board-members-text">
                    <h3>{{ board_member.name }}</h3>
                    <h5>{{ board_member.title }}</h5>
                    <p>{{ board_member.about }}</p>
                    <div class="sector__board-member-links">
                        <a
                            class="link__button"
                            href="{{ board_member.linkedin_url }}"
                            >Linkedln</a
                        >
                        <a
                            class="link__button"
                            href="{{ board_member.twitter_url }}"
                            >Twitter</a
                        >
                        <a
                            class="link__button"
                            href="{% url 'board_member' board_member.pk %}"
                            >CV</a
                        >
                    </div>
                </div>
                <img src="{{ board_member.image.url }}" alt="board Member" />
            </section>
            {% endfor %}
        </section>

        <div class="sector__headline padding">
            <p>Practice || Corporate Governance || Board Members</p>
        </div>
    </article>

    <aside class="sector__aside">
        <div class="sector__links-wrapper">
            <a href="{% url 'practice' %}">Back to Practice</a>
            <p>Corporate Governance</p>
            <div class="sector__links">
                <a href="#ministy-work">Corporate Governance</a>
                <a href="#sector">Board Chairman</a>
                <a href="#sector">Board Members</a>
            </div>
        </div>
        <div class="sector__navigation">
            <p>Previous</p>
            <a href="{% url 'sector_ministry' %}">AESL sector Ministry</a>
            <p>Next</p>
            <a href="{% url 'management' %}">AESL Management</a>
        </div>
    </aside>
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
