{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="board__chairman">
  <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
  <div>
    <h1 class="projects__title">Surv. Gordon Tanga (MD)</h1>
  </div>
</section>

<section id="ministy-work" class="sector">
  <!-- Projects Text -->
  <article class="grid__span">
    <section class="director__details">
      <div class="director__CV">
        <img src="{% static 'img/md.jpeg' %}" alt="Managing Director" />
      </div>
      <div class="director__text">
        <p>The achievement so far was against numerous odds and challenges that the construction industry encountered
          during the recent years.</p>
        <p>The weak growth in the global economy which significantly affected the Ghanaian economy, resulted in the
          Government of Ghana reducing expenditures, particularly in construction works throughout the country.</p>
        <p>Nevertheless, number of initiatives were undertaken including the Company’s strategic decision to adopt
          building information modelling (BIM) for project delivery. This is not only to improve staff skills but also
          to ensure quality service delivery to our clients.</p>
        <p>Our major projects for the year including provision of administrative blocks and staff accommodation for the
          Six New Regions, the Foundry and numerical Tooling Centre, and the Renovation of Jubilee House and the
          national sports stadia have all been handled with great client satisfaction and continues to be landmark for
          the company.</p>
        <p>The conditions of service for our staff are improved to ensure a motivated staff. We want to maintain AESL‘s
          leadership in the industry and ensure that it a place where people aspire to be to help build places of
          enduring values.</p>
      </div>
    </section>

    <section id="dept-director" class="dept__heads-wrapper">
      <div class="board__head">
        <img src="{% static 'img/md_meeting.jpg' %}" alt="" />
      </div>

      <div class="board__head">
        <img src="{% static 'img/board-chairman/2.jpg' %}" alt="" />
      </div>
    </section>

    <section class="more__projects padding">
      <p>
        AESL || Practice/Management/Managing Director's Title and Name
      </p>
      <article class="boxes">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </article>
    </section>

  </article>

  <aside class="sector__aside">
    <div class="sector__links-wrapper">
      <a href="{% url 'practice' %}">Back to Practice</a>
      <p>Corporate Governance</p>
      <div class="sector__links">
        <a href="#ministy-work">Corporate Governance</a>
        <a href="#alumni">Board Alumni</a>
      </div>
    </div>
    <div class="sector__navigation">
      <p>Previous</p>
      <a href="{% url 'sector_ministry' %}">AESL sector Ministry</a>
      <p>Next</p>
      <a href="{% url 'management' %}">AESL Management</a>
    </div>
  </aside>
</section>

<!-- page location Section -->
<section class="page__location">
  <div class="page__flex">
    <img src="{% static 'img/aesl_logo.png' %}" alt="aesl logo" class="info__building-image-large" />
    <p>AESL || {{title}}</p>
  </div>
  <p>
    Consulting Architects,<br />
    Engineers and Surveyors
  </p>
</section>

{% endblock content %}
