{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main content -->
<section class="managemet__parallax">
  <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
  <div>
    <h1 class="projects__title">
      Management
    </h1>
  </div>
</section>

<!-- Projects__cards -->
<section class="projects__cards">
  <div class="projects__card">
    <p>Practice</p>
  </div>
  <div class="projects__card">
    <p>History</p>
    <p>Mandate</p>
    <p>Functions</p>
    <p>Mission, Vision and Value</p>
  </div>
  <div class="projects__card">
    <p>Sectory Ministry</p>
    <p>Corporate Governance</p>
    <p>Management </p>
  </div>

  <div class="projects__card-link">
    <a href="">Service</a>
    <a href="">Client Speak</a>
    <a href="">Corporate Responsibilites</a>
  </div>
</section>


<section id="ministy-work" class="sector">
  <!-- Projects Text -->
  <article class="grid__span">
    <section class="sector__text">
      <p> The management team is responsible for driving innovation, maintaining high standards of quality, and
        providing exceptional architectural and engineering services to clients.
      </p>
      <p>They provide strategic direction and oversee the day-to-day activities of the company, working closely with
        employees to ensure projects are executed successfully, budgets and timelines are adhered to, and client
        satisfaction is achieved.
      </p>
    </section>

    <div id="sector" class="sector__headline padding">
      <h4>Managing Director</h4>
    </div>

    <!-- Director Divs -->
    <section class="director__wrapper">
      <div class="director__div col__span">
        <div class="director__info">
          <h5>Surv. Gordon Tanga</h5>
          <p>Managing Director</p>
        </div>
        <img src="{% static 'img/md-01.jpg' %}" alt="Managing Director" />
      </div>

      <div class="director__div">
        <div class="director__info">
          <h5>Managing Director<br /> at official<br /> engagement</h5>
          <p>Event highlight</p>
        </div>
        <img src="{% static 'img/md-01.jpg' %}" alt="Managing Director" />
      </div>

      <div class="director__div">
        <div class="director__info">
          <h5>MD with<br /> President, Hon.<br /> Minister for<br /> Local Govt</h5>
          <p>Official photo</p>
        </div>
        <img src="{% static 'img/md-07.jpeg' %}" alt="Managing Director" />
      </div>

      <div class="director__div">
        <div class="director__info">
          <h5>Managing<br /> Director<br /> engagement</h5>
          <p>Event highlight</p>
        </div>
        <img src="{% static 'img/md-01.jpg' %}" alt="Managing Director" />
      </div>
    </section>

    <section class="managing__director">
      <h3>Surv. Gordon Tanga (MD)</h3>
      <h5>Managing Director</h5>
      <a href="mailto:gordon.tanga@aesl.gov.gh">gordon.tanga@aesl.gov.gh</a>
      <p>They provide strategic direction and oversee the day-to-day activities of the company, working closely with
        employees to ensure projects are executed successfully, budgets and timelines are adhered to, and client
        satisfaction is achieved.</p>
      <button class="button"><a href="{% url 'managing_director' %}">Read More</a></button>
    </section>

    <section class="managing__director-message">
      <h3>Managing Director's Message</h3>
      <p>The achievement so far was against numerous odds and challenges that the construction industry encountered
        during the recent years.</p>
      <p>The weak growth in the global economy which significantly affected the Ghanaian economy, resulted in the
        Government of Ghana reducing expenditures, particularly in construction works throughout the country.</p>
      <p>Nevertheless, number of initiatives were undertaken including the Company’s strategic decision to adopt
        building information modelling (BIM) for project delivery. This is not only to improve staff skills but also to
        ensure quality service delivery to our clients.</p>
      <p>Our major projects for the year including provision of administrative blocks and staff accommodation for the
        Six New Regions, the Foundry and numerical Tooling Centre, and the Renovation of Jubilee House and the national
        sports stadia have all been handled with great client satisfaction and continues to be landmark for the company.
      </p>
      <p>The conditions of service for our staff are improved to ensure a motivated staff. We want to maintain AESL‘s
        leadership in the industry and ensure that it a place where people aspire to be to help build places of enduring
        values.</p>
    </section>

    <div id="sector" class="sector__headline padding">
      <h4>Deputy Managing Directors</h4>
    </div>

    <section class="managing__director-image">
      <img src="{% static 'img/female.png' %}" alt="Deputy Managing Director" />
    </section>

    <section class="managing__director">
      <h3>Arc. Naa Kwarley Quartey</h3>
      <h5>Architecture and Planning</h5>
      <a href="mailto:naa.quartey@aesl.gov.gh">naa.quartey@aesl.gov.gh</a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos veritatis ipsa repudiandae nisi, fugit nulla
        corporis reprehenderit dolores dolorum vel, mollitia excepturi laborum aperiam voluptates perferendis esse quo
        voluptate rem.</p>
      <button class="button"><a href="{% url 'managing_director' %}">Read More</a></button>
    </section>

    <section class="managing__director-image">
      <img src="{% static 'img/male.jpg' %}" alt="Deputy Managing Director" />
    </section>

    <section class="managing__director">
      <h3>Ing. Charles Adigvom <br />(Engineering)</h3>
      <a href="mailto:charles.adigvom@aesl.gov.gh">charles.adigvom@aesl.gov.gh</a>
      <p>Just testing it Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos veritatis ipsa repudiandae nisi,
        fugit nulla corporis reprehenderit dolores dolorum vel, mollitia excepturi laborum aperiam voluptates
        perferendis esse quo voluptate rem.</p>
      <button class="button"><a href="{% url 'engineering' %}">Read More</a></button>
    </section>

    {% for main in categories %}
    <div id="sector" class="sector__headline padding">
      <h4>Heads of Departments</h4>
    </div>

    <div class="director__heading">
      <h4>Architecture and Planning</h4>
      <hr />
    </div>

    <section class="dept__heads-wrapper">
      <div class="dept__head">
        <img src="{% static 'img/Arc. Basil A. Akushey_1.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Arc. Basil Akushey</h4>
          <p>Architecture</p>
          <a href="mailto:basil.akushey@aesl.gov.gh">basil.akushey@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/male.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Surv. Sylvester Akuoko</h4>
          <p>Land Valuation</p>
          <a href="mailto:sylvester.akuoko@aesl.gov.gh">sylvester.akuoko@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/male.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Surv. Patrick Fiajoe</h4>
          <p>Quantity Surveying</p>
          <a href="mailto:patrick.fiajoe@aesl.gov.gh">patrick.fiajoe@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/male.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Surv. Evans Boateng</h4>
          <p>Land Surveying</p>
          <a href="mailto:evans.boateng@aesl.gov.gh">evans.boateng@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>
    </section>

    <div class="director__heading">
      <h4>Engineering</h4>
      <hr />
    </div>

    <section class="dept__heads-wrapper">
      <div class="dept__head">
        <img src="{% static 'img/female.png' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Ing. Gloria Kunutsor</h4>
          <p>Structural</p>
          <a href="mailto:gloria.kunutsor@aesl.gov.gh">gloria.kunutsor@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/male.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Ing. Michael Addo</h4>
          <p>Installations</p>
          <a href="mailto:michael.addo@aesl.gov.gh">michael.addo@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/male.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Ing. Ebenezer Buertet Mac-Tetteh</h4>
          <p>Water</p>
          <a href="mailto:ebenezer.mac-tetteh@aesl.gov.gh">ebenezer.mac-tetteh@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/male.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Ing. Joseph Kwasi Odde</h4>
          <p>Geotechnical</p>
          <a href="mailto:joseph.oddei@aesl.gov.gh">joseph.oddei@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>
    </section>

    <div class="director__heading">
      <h4>Administrative</h4>
      <hr />
    </div>

    <section class="dept__heads-wrapper">
      <div class="dept__head">
        <img src="{% static 'img/Mr. Ibrahim Jibril (Ag. DF).jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Ibrahim Jibril</h4>
          <p>Structural</p>
          <a href="mailto:ibrahim.jibril@aesl.gov.gh">ibrahim.jibril@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/Harriet Ansah (Mrs.).jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Harriet Bediako</h4>
          <p>Director, HRMS</p>
          <a href="mailto:harriet.bediako@aesl.gov.gh">harriet.bediako@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/Emmanuel Otchere-Darko.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Arc. E. Otchere-Darko</h4>
          <p>Information Technology</p>
          <a href="mailto:ebenezer.mac-tetteh@aesl.gov.gh">ebenezer.mac-tetteh@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/Emmanuel Kwasi Okoh Larbi (Internal Audit Head).jpg' %}"
          alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Emmanuel Okoh Larbi</h4>
          <p>Internal Auditor</p>
          <a href="mailto:emmanuel.larbi@aesl.gov.gh">emmanuel.larbi@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>
    </section>

    {% comment %}
    <div id="sector" class="sector__headline padding margin">
      <h4>Regional Consultants</h4>
    </div>

    <section class="dept__heads-wrapper">
      <div class="dept__head">
        <img src="{% static 'img/Ing. Frederick Owusu-Addo.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Ing. Frederick Owusu-Addo</h4>
          <p>Greater Accra</p>
          <a href="mailto:frederick.owusu-addo@aesl.gov.gh">frederick.owusu-addo@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/female.png' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Arc. Betsy Owusu-Antwi (Mrs.)</h4>
          <p>Ashanti</p>
          <a href="mailto:harriet.bediako@aesl.gov.gh">harriet.bediako@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/male.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Surv. Eric Annan</h4>
          <p>Western / Western North</p>
          <a href="mailto:eric.annan@aesl.gov.gh">eric.annan@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/male.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Surv. Simon Sabakpo</h4>
          <p>Ahafo/ Bono/ Bono-East</p>
          <a href="mailto:simon.sabakpo@aesl.gov.gh">simon.sabakpo@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>
    </section>


    <section class="dept__heads-wrapper">
      <div class="dept__head">
        <img src="{% static 'img/Arc. Amen Gbeckor-Kove-Volta.Oti Region.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Arc. Amen Gbekor-Kove Jnr.</h4>
          <p>Volta / Oti</p>
          <a href="mailto:amen.gbekor-kove@aesl.gov.gh">amen.gbekor-kove@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/male.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Surv. Kwasi Gyebi-Ababio
          </h4>
          <p>Director, HRMS</p>
          <a href="mailto:kwasi.gyebi-ababio@aesl.gov.gh">kwasi.gyebi-ababio@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/male.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Arc. Nana Kwame Amoateng-Mensah</h4>
          <p>Eastern</p>
          <a href="mailto:nana.amoateng-mensah@aesl.gov.gh">nana.amoateng-mensah@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/Surv. Fidelis Apori.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Surv. Fidelis Apore</h4>
          <p>Upper East</p>
          <a href="mailto:fidelis.apore@aesl.gov.gh">fidelis.apore@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>
    </section>

    <section class="dept__heads-wrapper">
      <div class="dept__head">
        <img src="{% static 'img/Arc. Abdulai Abdul-Gafaru.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Arc. Salifu Abdul-Gafaru Abdulai</h4>
          <p>Upper West</p>
          <a href="mailto:salifu.abdul-gafaru.abdulai@aesl.gov.gh">salifu.abdul-gafaru.abdulai@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/SURV. Isaac Agyei-Mensah, Regional Consultant, Northern.Savannah.North-EAST.jpg' %}"
          alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Surv. Isaac Agyei-Mensah</h4>
          <p>Northern/Savannah/North-East</p>
          <a href="mailto:isaac.agyei-mensah@aesl.gov.gh">isaac.agyei-mensah@aesl.gov.gh</a>
          <button class="read__more"><a href="">Read More</a></button>
        </div>
      </div>
    </section>

    {% endcomment %}

  </article>

  <aside class="sector__aside">
    <div class="sector__links-wrapper">
      <a href="{% url 'practice' %}">Back to Practice</a>
      <p>Management</p>
      <div class="sector__links">
        <a href="#ministy-work">Management</a>
        <a href="#sector">Managing Director</a>
        <a href="#sector">Deputy Managing Directors</a>
        <a href="#sector">Heads of Departments</a>
        <a href="#sector">Regional Consultants</a>
      </div>
    </div>
    <div class="sector__navigation">
      <p>Previous</p>
      <a href="#aesl-mision">AESL sector Ministry</a>
      <p>Next</p>
      <a href="">AESL Management</a>
    </div>
  </aside>
</section>


<!-- page location Section -->
<section class="page__location">
  <div class="page__flex">
    <img src="{% static 'img/aesl_logo.png' %}" alt="aesl logo" class="info__building-image-large" />
    <p>AESL || {{title}}</p>
  </div>
  <p>Consulting Architects,<br /> Engineers and Surveyors</p>
</section>


{% endblock content %}
