{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="education__parallax">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Education</h1>
    </div>
</section>

<!-- Projects__cards -->

{% include 'partial/projects-card.html' %}

<!-- Projects Text -->
<section class="projects__text">
    <p>
        We specialise in designing innovative learning spaces that empower
        students and educators. Our education projects include schools,
        universities, and training facilities that prioritise functionality,
        collaboration, and sustainability.We have designed flagship projects for
        the Ghana Education Service including the prototype E-Blocks built
        nationwide.
    </p>
    <hr />
</section>

<section class="civic__culture-gallery">
    <img src="{% static 'img/education/e1.jpg' %}" />
    <img src="{% static 'img/education/e2.jpg' %}" />
    <img src="{% static 'img/education/e3.jpg' %}" />
    <img src="{% static 'img/education/e4.jpg' %}" />
    <img src="{% static 'img/education/e5.jpg' %}" />
    <img src="{% static 'img/education/e6.jpg' %}" />
    <img src="{% static 'img/education/e7.jpg' %}" />
    <img src="{% static 'img/education/8.jpeg' %}" />
    <img src="{% static 'img/education/9.jpeg' %}" />
    <img src="{% static 'img/education/10.jpeg' %}" />
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
