{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="education__parallax">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Education</h1>
    </div>
</section>

<!-- Projects__cards -->

{% include 'partial/projects-card.html' %}

<!-- Projects Text -->
<section class="projects__text">
    <p>
        We specialise in designing innovative learning spaces that empower
        students and educators. Our education projects include schools,
        universities, and training facilities that prioritise functionality,
        collaboration, and sustainability.We have designed flagship projects for
        the Ghana Education Service including the prototype E-Blocks built
        nationwide.
    </p>
    <hr />
</section>

<section class="civic__culture-gallery">
    {% if education_images %}
        {% for image in education_images %}
            <figure class="culture-card">
                {% if image.related_project and image.related_project.slug %}
                    <a href="{{ image.related_project.get_absolute_url }}" class="gallery-link">
                        <img
                            src="{{ image.image.url }}"
                            alt="{{ image.alt_text|default:image.related_project.title|add:' project image' }}"
                            loading="lazy"
                        />
                    </a>
                {% else %}
                    <img
                        src="{{ image.image.url }}"
                        alt="{{ image.alt_text|default:'industrial infrastructure related project image' }}"
                        loading="lazy"
                    />
                {% endif %}

                <figcaption>
                    {% if image.related_project and image.related_project.slug %}
                        <a href="{{ image.related_project.get_absolute_url }}" class="project-title-link">
                            {{ image.related_project.title }}
                        </a>
                    {% else %}
                        {{ image.alt_text|default:image.category|capfirst }}
                    {% endif %}
                </figcaption>
            </figure>
        {% endfor %}
    {% else %}
        <div class="no-content">
            <p>No images available in the industrial infrastructure category at the moment.</p>
            <p>Check back later or explore other categories.</p>
        </div>
    {% endif %}
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
