{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main content -->
<section class="managemet__parallax">
  <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
  <div>
    <h1 class="projects__title">
      Deputy Managing Director
    </h1>
  </div>
</section>



<section id="managing-director" class="sector">
  <!-- Projects Text -->
  <article class="grid__span">

    <section class="director__details">
      <div class="director__CV">
        <h1>CV</h1>
      </div>
      <div class="director__text">
        <p>" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, error magnam. Impedit tempore earum
          debitis quae vero quo. Magnam, facere. Ea, explicabo blanditiis, unde veniam architecto fuga rem quas odit? "
        </p>
        <h4>- Surv. Gordon Tanga (MD) -</h4>
      </div>
    </section>

    <section class="dept__heads-wrapper">
      <div class="dept__head">
        <img src="{% static 'img/md-01.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Portrait</h4>
          <p>Surv. Gordon Tanga</p>
        </div>
      </div>

      <div class="dept__head">
        <div class="dept__head-info">
          <img src="{% static 'img/md-07.jpeg' %}" alt="Arc. Basil A. Akushey_1" />
          <h4>Event</h4>
          <p>Official engagement</p>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/md-01.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Portrait</h4>
          <p>Managing Director</p>
        </div>
      </div>

      <div class="dept__head">
        <img src="{% static 'img/md-01.jpg' %}" alt="Arc. Basil A. Akushey_1" />
        <div class="dept__head-info">
          <h4>Portrait</h4>
          <p>Arc. Isaac Agyei Marfo</p>
        </div>
      </div>
    </section>

    <section class="director__achievement">
      <p>The achievement so far was against numerous odds and challenges that the construction industry encountered
        during the recent years .The weak growth in the global economy which significantly affected the Ghanaian
        economy, resulted in the Government of Ghana reducing expenditures, particularly in construction works
        throughout the country.<br />Nevertheless, number of initiatives were undertaken including the Company’s
        strategic decision to adopt building information modelling (BIM) for project delivery. This is not only to
        improve staff skills but also to ensure quality service delivery to our clients.<br />Our major projects for the
        year including provision of administrative blocks and staff accommodation for the Six New Regions, the Foundry
        and numerical Tooling Centre, and the Renovation of Jubilee House and the national sports stadia have all been
        handled with great client satisfaction and continues to be landmark for the company.<br />The achievement so far
        was against numerous odds and challenges that the construction industry encountered during the recent years .The
        weak growth in the global economy which significantly affected the Ghanaian economy, resulted in the Government
        of Ghana reducing expenditures, particularly in construction works throughout the country.<br />Nevertheless,
        number of initiatives were undertaken including the Company’s strategic decision to adopt building information
        modelling (BIM) for project delivery. This is not only to improve staff skills but also to ensure quality
        service delivery to our clients.<br />Our major projects for the year including provision of administrative
        blocks and staff accommodation for the Six New Regions, the Foundry and numerical Tooling Centre, and the
        Renovation of Jubilee House and the national sports stadia have all been handled with great client satisfaction
        and continues to be landmark for the company.</p>
      <p>The conditions of service for our staff are improved to ensure a motivated staff. We want to maintain AESL‘s
        leadership in the industry and ensure that it a place where people aspire to be to help build places of enduring
        values.<br />They provide strategic direction and oversee the day-to-day activities of the company, working
        closely with employees to ensure projects are executed successfully, budgets and timelines are adhered to, and
        client satisfaction is achieved.<br />Our major projects for the year including provision of administrative
        blocks and staff accommodation for the Six New Regions, the Foundry and numerical Tooling Centre, and the
        Renovation of Jubilee House and the national sports stadia have all been handled with great client satisfaction
        and continues to be landmark for the company.<br />The conditions of service for our staff are improved to
        ensure a motivated staff. We want to maintain AESL‘s leadership in the industry and ensure that it a place where
        people aspire to be to help build places of enduring values.<br />They provide strategic direction and oversee
        the day-to-day activities of the company, working closely with employees to ensure projects are executed
        successfully, budgets and timelines are adhered to, and client satisfaction is achieved.<br />Our major projects
        for the year including provision of administrative blocks and staff accommodation for the Six New Regions, the
        Foundry and numerical Tooling Centre, and the Renovation of Jubilee House and the national sports stadia have
        all been handled with great client satisfaction and continues to be landmark for the company.</p>
    </section>

    <section class="more__projects padding">
      <p>AESL || Practice/Management/Managing Director's Title and Name</p>
      <article class="boxes">
        <div class="box">
        </div>
        <div class="box">
        </div>
        <div class="box">
        </div>
      </article>
    </section>

    <section class="director__alumni-title">
      <h2>Managing Director Alumni</h2>
    </section>

    <section class="director__alumni-wrapper">
      <div class="director__alumni">
        <img src="{% static 'img/landscape_01.png' %}" alt="manager" />
        <div class="alumni__text">
          <h4>Managing Director Alumni</h4>
          <p>2005 - 2009</p>
        </div>
      </div>
      <div class="director__alumni">
        <img src="{% static 'img/landscape_01.png' %}" alt="manager" />
        <div class="alumni__text">
          <h4>Managing Director Alumni</h4>
          <p>2005 - 2009</p>
        </div>
      </div>
      <div class="director__alumni">
        <img src="{% static 'img/landscape_01.png' %}" alt="manager" />
        <div class="alumni__text">
          <h4>Managing Director Alumni</h4>
          <p>2005 - 2009</p>
        </div>
      </div>
      <div class="director__alumni">
        <img src="{% static 'img/landscape_01.png' %}" alt="manager" />
        <div class="alumni__text">
          <h4>Managing Director Alumni</h4>
          <p>2005 - 2009</p>
        </div>
      </div>
      <div class="director__alumni">
        <img src="{% static 'img/landscape_01.png' %}" alt="manager" />
        <div class="alumni__text">
          <h4>Managing Director Alumni</h4>
          <p>2005 - 2009</p>
        </div>
      </div>
      <div class="director__alumni">
        <img src="{% static 'img/landscape_01.png' %}" alt="manager" />
        <div class="alumni__text">
          <h4>Managing Director Alumni</h4>
          <p>2005 - 2009</p>
        </div>
      </div>
    </section>

    <!-- More Projects Section -->
    <section class="more__projects padding">
      <p>AESL || Practice/Management/Managing Director Alumni</p>
      <article class="boxes">
        <div class="box">
        </div>
        <div class="box">
        </div>
        <div class="box">
        </div>
      </article>
    </section>

  </article>

  <aside class="sector__aside">
    <div class="sector__links-wrapper">
      <a href="{% url 'management' %}">Management</a>
      <div class="sector__links">
        <p>On this page</p>
        <a href="#managing-director">Managing Director Summary</a>
        <a href="#sector">Managing Director</a>
        <a href="#sector">Deputy Managing Directors</a>
        <a href="#sector">Heads of Departments</a>
        <a href="#sector">Regional Consultants</a>
      </div>
    </div>
  </aside>
</section>


{% endblock content %}
