{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main content -->
<section class="functions__parallax">
  <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
  <div>
    <h1 class="projects__title">
      Functions
    </h1>
  </div>
</section>

<!-- Projects__cards -->
{% include 'partial/card-nav.html' %}


<section id="objects" class="sector">
  <!-- Projects Text -->
  <article class="grid__span">
    <section class="sector__text">
      <p> AESL provides an extensive variety of architectural, engineering and surveying services, including architectural design, engineering analysis and design, surveying and quantity surveying, project management, construction documentation, construction supervision, sustainable design and energy efficiency, and client communication as well as collaboration. </p>
      <p>The objects of the Corporation were:</p>
    </section>

    <section id="functions" class="functions__objs">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="f4-00 gc2s1"
        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M243.4 2.6l-224 96c-14 6-21.8 21-18.7 35.8S16.8 160 32 160l0 8c0 13.3 10.7 24 24 24l400 0c13.3 0 24-10.7 24-24l0-8c15.2 0 28.3-10.7 31.3-25.6s-4.8-29.9-18.7-35.8l-224-96c-8-3.4-17.2-3.4-25.2 0zM128 224l-64 0 0 196.3c-.6 .3-1.2 .7-1.8 1.1l-48 32c-11.7 7.8-17 22.4-12.9 35.9S17.9 512 32 512l448 0c14.1 0 26.5-9.2 30.6-22.7s-1.1-28.1-12.9-35.9l-48-32c-.6-.4-1.2-.7-1.8-1.1L448 224l-64 0 0 192-40 0 0-192-64 0 0 192-48 0 0-192-64 0 0 192-40 0 0-192zM256 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64z">
        </path>
      </svg>
      <p>To investigate, survey, design, administration and management both in Ghana and elsewhere of all kinds of
        architectural and engineering consultancy works, whether public or private including the design of houses,
        highways, airfields, bridges, harbour, water supplies and sewerage systems, soils and foundations
        investigation;
      </p>

      <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" class="f4-00 gc2s1"
        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.6152 0v.8867h3.8399V0zm5.0215 0v.8867h3.8418V0zm4.957 0v.8867h3.8418V0zm4.9356 0v.8867h3.8418V0zM2.4473 1.8945a.935.935 0 0 0-.9356.9356c0 .517.4185.9375.9356.9375h19.1054c.5171 0 .9356-.4204.9356-.9375a.935.935 0 0 0-.9356-.9356zm.168 2.8477V24H6.455V4.7422zm5.0214 0V20.543h3.8418V4.7422zm4.957 0V15.291h3.8497V4.7422zm4.9356 0v6.4941h3.8418V4.7422z">
        </path>
      </svg>
      <p>To undertake the testing of construction materials, surveying and mapping, valuation and appraisal of property,
        and design of irrigation works;</p>

      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="f4-00 gc2s1"
        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20 6H23V8H22V19H23V21H1V19H2V8H1V6H4V4C4 3.44772 4.44772 3 5 3H19C19.5523 3 20 3.44772 20 4V6ZM20 8H4V19H7V12H9V19H11V12H13V19H15V12H17V19H20V8ZM6 5V6H18V5H6Z">
        </path>
      </svg>
      <p>To carry out such other activities as appear to the Corporation to be conducive or incidental to the attainment
        of all or any of the foregoing objects To provide consultancy services in respect of all works required by or on
        behalf of the Government in the fields of engineering, building and architecture, urban and regional planning
        and development;</p>

      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="f4-00 gc2s1"
        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path
          d="M7 19c-1.1 0-2 .9-2 2h14c0-1.1-.9-2-2-2h-4v-2h3c1.1 0 2-.9 2-2h-8c-1.66 0-3-1.34-3-3 0-1.09.59-2.04 1.46-2.56C8.17 9.03 8 8.54 8 8c0-.21.04-.42.09-.62A5.01 5.01 0 0 0 5 12c0 2.76 2.24 5 5 5v2H7z">
        </path>
        <path
          d="M10.56 5.51C11.91 5.54 13 6.64 13 8c0 .75-.33 1.41-.85 1.87l.59 1.62.94-.34.34.94 1.88-.68-.34-.94.94-.34-2.74-7.53-.94.34-.34-.94-1.88.68.34.94-.94.35.56 1.54z">
        </path>
        <circle cx="10.5" cy="8" r="1.5"></circle>
      </svg>
      <p>To carry out technical studies in planning, designing as well as the supervision of such infrastructural works
        as will assist the economic and social development of the country;</p>
    </section>


  </article>

  <aside class="sector__aside">
    <div class="sector__links-wrapper">
      <a href="{% url 'practice' %}">Back to Practice</a>
      <p></p>
      <div class="sector__links">
        <a href="#objects">AESL Object</a>
        <a href="#functions">AESL Functions</a>
      </div>
    </div>
    <div class="sector__navigation">
      <p>Previous</p>
      <a href="{% url 'mandate' %}">AESL Mandate</a>
      <p>Next</p>
      <a href="{% url 'mission_vision' %}">AESL Mission vision and Values</a>
    </div>
  </aside>
</section>


<!-- More Projects Section -->
<section class="more__projects padding">
  <p>AESL || {{ title }}</p>
  <article class="boxes">
    <div class="box">
    </div>
    <div class="box">
    </div>
    <div class="box">
    </div>
  </article>
</section>


{% endblock content %}
