{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="health__parallax">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Health</h1>
    </div>
</section>

<!-- Projects__cards -->

{% include 'partial/projects-card.html' %}

<!-- Projects Text -->
<section class="projects__text">
    <p>
        Our Health projects aim to enhance patient care and well-being by
        creating healing environments. We deliver efficient and modern
        healthcare facilities, including hospitals, clinics, and specialised
        medical centres.Mostly for our district health centres our designs have
        sought to integrate the lifestyle of the local community with modernity.
    </p>
    <hr />
</section>

<section class="civic__culture-gallery">
    <figure class="culture-card">
        <img
            src="{% static 'img/health/Proposed District Hospitals.jpg' %}"
            alt=""
        />
        <figcaption>Proposed District Hospitals</figcaption>
    </figure>
    <figure class="culture-card">
        <img
            src="{% static 'img/health/2-Storey Emergency Centre and Doctor’s Flat Block at Agona Swedru.jpg' %}"
            alt=""
        />
        <figcaption>
            2-Storey Emergency Centre and Doctor’s Flat Block at Agona Swedru
        </figcaption>
    </figure>
    <figure class="culture-card">
        <img
            src="{% static 'img/health/Out-Patient Deportment, Cocoa Clinic, Essam-Bebiso, Brong Ahafo Region.jpg' %}"
            alt=""
        />
        <figcaption>
            Out-Patient Deportment, Cocoa Clinic, Essam-Bebiso, Brong Ahafo
            Region
        </figcaption>
    </figure>
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
