{% extends 'base.html' %}

{% block content %}
<!-- Main content -->
<section>
  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to AESL!</h1>
      <p class="lead">Your trusted partner in engineering solutions.</p>
      <hr class="my-4" />
      <p>Explore our services and projects to see how we can help you achieve your goals.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
</section>
{% endblock content %}
