{% extends 'base.html' %}

{% block content %}
<!-- Main content -->
<section class="parallax">
    <div class="overlay"></div>
    <div class="content">
      <h1>Architectural And Engineering Services Limited</h1>
      <p>Architectural and Engineering Services Limited (AESL) is a practicing and a multidisciplinary firm that provides comprehensive Architectural and Engineering solutions for public and sector clients in the construction industry.</p>
      <div class="buttons">
        <button class="button button__background"><a href="">Read More</a></button>
        <button class="button"><a href="">Contact Us </a></button>
      </div>
    </div>
  </section>
  <section class="info"> 
    <div class="info__content">
      <h5>AESL offers a wide range of services combining the fields of Architecture and Engineering to create innovative and sustainable designs that are not only visually appealing but also structurally sound and efficient.</h5>
      <h5>AESL operates from its head office in the capital of Ghana-Accra, with other offices located in the 16 regions of Ghana.</h5>
    </div>
    <div class="info__image">
      <div class="image__content">
        <h3>Architecture & Planning</h3>
        <h3>Architecture</h3>
        <h3>Land Surveying</h3>
        <h3>Quantity Surveying</h3>
        <h3>Valuation</h3>
      </div>
      <div class="image__content">
        <h3>Architecture & Planning</h3>
        <h3>Architecture</h3>
        <h3>Land Surveying</h3>
        <h3>Quantity Surveying</h3>
        <h3>Valuation</h3>
      </div>
    </div>

</section>
{% endblock content %}
