{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="industrial__parallax">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Industrial and Infrastructure</h1>
    </div>
</section>

<!-- Projects__cards -->

{% include 'partial/projects-card.html' %}

<!-- Projects Text -->
<section class="projects__text">
    <p>
        We deliver robust and efficient industrial facilities and infrastructure
        that support growth and development. From warehouses and factories to
        transport hubs, our designs emphasise functionality and durability. We
        have been engaged in the consultancy of other critical infrastructure
        including many hydro projects.Our unmatched expertise in many speciality
        projects was evident in our selection to collaborate with the Ministry
        of Science, Technology and Innovation (MESTI) to design and supervise
        the construction of the first Foundry and Tooling Centre in Ghana.
    </p>
    <hr />
</section>

<section class="civic__culture-gallery">
    <img src="{% static 'img/industrial/1.jpeg' %}" />
    <img src="{% static 'img/industrial/2.jpeg' %}" />
    <img src="{% static 'img/industrial/3.jpeg' %}" />
    <img src="{% static 'img/industrial/4.jpeg' %}" />
    <img src="{% static 'img/industrial/5.jpeg' %}" />
    <img src="{% static 'img/industrial/6.jpeg' %}" />
    <img src="{% static 'img/industrial/7.jpeg' %}" />
    <img src="{% static 'img/industrial/8.jpeg' %}" />
    <img src="{% static 'img/industrial/9.jpg' %}" />
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
