{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="landscape__planning-parallax">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Landscapes, Planning and Survey</h1>
    </div>
</section>

<!-- Projects__cards -->

{% include 'partial/projects-card.html' %}

<!-- Projects Text -->
<section class="projects__text">
    <p>
        We integrate natural beauty and functionality in our Landscape projects.
        Our work includes parks, gardens, car parks and outdoor spaces that
        enhance the environment, promote sustainability, and connect people to
        nature.Our Planning and Survey services provide strategic frameworks for
        successful projects. We specialise in master planning, urban design,
        quantity surveying and valuation, geotechnical and land surveying to
        ensure thoughtful and efficient development.
    </p>
    <hr />
</section>

<section class="civic__culture-gallery">

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/2.jpg' %}"
            alt="Landscape planning project 9"
            loading="lazy"
        />
        <figcaption>Geotechnician on Site</figcaption>
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/9.jpg' %}"
            alt="Landscape planning project 9"
            loading="lazy"
        />
        <figcaption>Appiatse  Redevelopment(FormWork)</figcaption>
    </figure>


    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/12.jpg' %}"
            alt="Landscape planning project 12"
            loading="lazy"
        />
        <figcaption>Closed Up on Constration site</figcaption>
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/13.jpg' %}"
            alt="Landscape planning project 13"
            loading="lazy"
        />
        <figcaption>Appiatse Building and Street View</figcaption>
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/23.jpg' %}"
            alt="Landscape planning project 23"
            loading="lazy"
        />
        <figcaption>Works on Site</figcaption>
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/26.jpg' %}"
            alt="Landscape planning project 26"
            loading="lazy"
        />
        <figcaption>Appiatse  Redevelopment Scheme(Ariel View showing Site and Main Road)</figcaption>
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/34.jpg' %}"
            alt="Landscape planning project 32"
            loading="lazy"
        />
        <figcaption>Project Architect on Site With Team Membres</figcaption>
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/36.jpg' %}"
            alt="Landscape planning project 36"
            loading="lazy"
        />
        <figcaption> Completed Appiatse Building</figcaption>
    </figure>

</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
