{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="landscape__planning-parallax">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Landscapes, Planning and Survey</h1>
    </div>
</section>

<!-- Projects__cards -->

{% include 'partial/projects-card.html' %}

<!-- Projects Text -->
<section class="projects__text">
    <p>
        We integrate natural beauty and functionality in our Landscape projects.
        Our work includes parks, gardens, car parks and outdoor spaces that
        enhance the environment, promote sustainability, and connect people to
        nature.Our Planning and Survey services provide strategic frameworks for
        successful projects. We specialise in master planning, urban design,
        quantity surveying and valuation, geotechnical and land surveying to
        ensure thoughtful and efficient development.
    </p>
    <hr />
</section>

<section class="civic__culture-gallery">
    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/1.jpg' %}"
            alt="Landscape planning project 1"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/2.jpg' %}"
            alt="Landscape planning project 2"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/3.jpg' %}"
            alt="Landscape planning project 3"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/6.jpg' %}"
            alt="Landscape planning project 6"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/9.jpg' %}"
            alt="Landscape planning project 9"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/10.jpg' %}"
            alt="Landscape planning project 10"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/11.jpg' %}"
            alt="Landscape planning project 11"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/12.jpg' %}"
            alt="Landscape planning project 12"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/13.jpg' %}"
            alt="Landscape planning project 13"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/16.jpg' %}"
            alt="Landscape planning project 16"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/17.jpg' %}"
            alt="Landscape planning project 17"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/20.jpg' %}"
            alt="Landscape planning project 20"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/22.jpg' %}"
            alt="Landscape planning project 22"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/23.jpg' %}"
            alt="Landscape planning project 23"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/26.jpg' %}"
            alt="Landscape planning project 26"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/27.jpg' %}"
            alt="Landscape planning project 27"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/28.jpg' %}"
            alt="Landscape planning project 28"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/30.jpg' %}"
            alt="Landscape planning project 30"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/31.jpg' %}"
            alt="Landscape planning project 31"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/32.jpg' %}"
            alt="Landscape planning project 32"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/35.jpg' %}"
            alt="Landscape planning project 35"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/36.jpg' %}"
            alt="Landscape planning project 36"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/37.jpg' %}"
            alt="Landscape planning project 37"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/38.jpg' %}"
            alt="Landscape planning project 38"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/39.jpg' %}"
            alt="Landscape planning project 39"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/landscape-planning/40.jpg' %}"
            alt="Landscape planning project 40"
            loading="lazy"
        />
    </figure>
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
