{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="office__retail-parallax">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Office Retail and Mixed-Use</h1>
    </div>
</section>

<!-- Projects__cards -->

{% include 'partial/projects-card.html' %}

<!-- Projects Text -->
<section class="projects__text">
    <p>
        We design dynamic and flexible office spaces that foster productivity
        and collaboration. Our office projects reflect modern business needs,
        integrating cutting-edge technology, comfort, and sustainability.From
        shopping centres to multi-functional developments, our Retail and
        Mixed-Use projects combine commerce, living, and leisure. We create
        vibrant spaces that serve diverse needs and elevate urban experiences.
    </p>
    <hr />
</section>

<section class="civic__culture-gallery">
    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o2.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o3.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o4.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o5.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o7.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o8.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o10.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o12.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o13.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o16.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o17.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o18.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o19.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o20.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>

    <figure class="culture-card">
        <img
            src="{% static 'img/office-retail/o25.jpg' %}"
            alt="Office retail project"
            loading="lazy"
        />
    </figure>
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
