{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="residential__parallax">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Residential</h1>
    </div>
</section>

<!-- Projects__cards -->

{% include 'partial/projects-card.html' %}

<!-- Projects Text -->
<section class="projects__text">
    <p>
        We design homes and communities that balance comfort, style, and
        sustainability. Our residential projects include single-family homes,
        apartments, and mixed-use housing developments tailored to modern
        living.We are distinguished in the design and the supervision of
        resettlements and have been engaged on many disaster recovery projects
        including the resettlements of Appiatse, the Akosombo Dam Spillage and
        many other district resettlements projects
    </p>
    <hr />
</section>

<section class="civic__culture-gallery">
    {% if residential_images %}
        {% for image in residential_images %}
            <figure class="culture-card">
                {% if image.related_project and image.related_project.slug %}
                    <a href="{{ image.related_project.get_absolute_url }}" class="gallery-link">
                        <img
                            src="{{ image.image.url }}"
                            alt="{{ image.alt_text|default:image.related_project.title|add:' project image' }}"
                            loading="lazy"
                        />
                    </a>
                {% else %}
                    <img
                        src="{{ image.image.url }}"
                        alt="{{ image.alt_text|default:'industrial infrastructure related project image' }}"
                        loading="lazy"
                    />
                {% endif %}

                <figcaption>
                    {% if image.related_project and image.related_project.slug %}
                        <a href="{{ image.related_project.get_absolute_url }}" class="project-title-link">
                            {{ image.related_project.title }}
                        </a>
                    {% else %}
                        {{ image.alt_text }}
                    {% endif %}
                </figcaption>
            </figure>
        {% endfor %}
    {% else %}
        <div class="no-content">
            <p>No images available in the residential category at the moment.</p>
            <p>Check back later or explore other categories.</p>
        </div>
    {% endif %}
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
