{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="publication__parallax">
  <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
  <div>
    <h1 class="projects__title">Right to Information</h1>
  </div>
</section>

<!-- publications -->
{% include 'partial/right-to-information-card.html' %}

<!-- Projects Text -->
<section class="right__to-information">
  <h1>Introduction</h1>
  <p>
    The 1992 Constitution, Article 21 (f) grants every Ghanaian the right to information regarding public sector affairs
    and governance in general. It is against this backdrop that Parliament passed the Right to Information ACT, 2019
    (Act 989) which His Excellency, the former President of the Republic of Ghana, Nana Addo Dankwa Akufo-Addo assented
    to on 21st May, 2019.<br />
    The RTI ACT 989 promotes transparency and accountability by empowering people to access information on central and
    local governments as well as non-governmental organizations, which are publicly funded. In compliance with this law,
    a Right to Information Office has been set up by Architectural and Engineering Services Limited to facilitate the
    implementation of the law and is headed by Information Officer Mr. Isaac Agyei Ansah to facilitate this cause.<br />
    Architectural and Engineering Services Limited encourages all members of the general public seeking information
    under this law to download and complete the forms (see below to download the forms) and forward same to
    info.aesl.rti@gmail.com Applications may also be submitted in person at the front desk of the AESL.
  </p>
  <h1 id="applications">APPLICATION</h1>
  <p>
    Section 18 of the RTI Act provides specific guidelines for application for access to information kept by a public
    institution. It is thus important that request for information be made in accordance with provisions under this
    section. The Information Officer or a designated officer is responsible for dealing with applications made to the
    AESL. To requests for information under the RTI Act from the AESL, applicants are to follow these basic procedures:
  </p>
  <h1>THE APPLICATION PROCESS </h1>
  <ol type="a">
    <li> Application by any person or organization who seeks access to information in the custody of MoRD must
      be made in
      writing, using the standard RTI Application Form. A copy of the form can be downloaded or completed and submitted
      electronically on the AESL official website or the Information Services Department website
    </li>

    <li>In making the request, the following information must be provided:
      <ul>
        <li>Date of the Application</li>
        <li>Name of the applicant or the person on whose behalf an application is being made.</li>
        <li>Name of the organization represented by the applicant.</li>
        <li>Available contact details of the applicant or address of the person/organization on whose behalf an
          application is being made (Telephone Number, Email, Postal Address, Fax).</li>
        <li>Brief description of information being sought. (Applicant are to specify the class and type of information
          including cover dates).
        </li>Payment of relevant fee if applicable.
        hSignatuhSignatuhSignatuhSignatuhSignature/ thumbprint.
      </ul>
    </li>

    <li>Provision of identification<br/>The applicant must present at least one (1) of the following valid identification cards (IDs) to serve as proof of identity:
      <ul>
        <li>Driver’s License.</li>
        <li>Passport</li>
        <li>National ID.</li>
        <li>Voter’s ID.</li>
      </ul>
    </li>

    <li>The applicant should state the format of information being requested and the mode of transmission. Example (do you need certified true copy, normal photocopy or electronic copies. Would you want to receive it through a postal address, e-mail, courier services, fax etc.?)</li>

    <li>Where an applicant cannot write due to illiteracy or a disability, he/she may make the request orally. However, oral request must conform to the following guidelines;
      <ul>
        <li>The Information Officer must reduce the oral request into writing and give a copy of the written request as recorded for the applicant to authenticate. (s. 18) (3).</li>
        <li>The Information Officer shall clearly and correctly read and explain the written request to the understanding of the applicant.</li>
        <li>A witness must endorse the face of the request with the writing; “the request was read to the applicant in the language the applicant understand and the applicant appeared to have understood the content of the request.”</li>
        <li>The applicant must then make a thumbprint or mark on the request.</li>
      </ul>
    </li>
  </ol>
  <h1 id="manual">MANUALS</h1>
  <p>Section 3(1) of the RTI Act requires public institutions including the Architectural and Engineering Services Limited (AESL) to compile and publish an up-to-date information in the form of a manual. The Manual as provided under Section 3(2) shall contain among other things, the list of departments or agencies under the public institution, a description of the organizational structure and responsibilities and a list of the various classes of information which are prepared by or are in the custody of the public institution.</p>
  <h1 id="secretariat">SECRETARIAT </h1>
  <p>Access To Information Division</p>
  <p>Information Services Department</p>
  <p>GA-076-8230</p>
  <p>Information Drive, Adabraka, Accra</p>
  <h1 id="newsletter">AESL NEWSLETTER</h1>
  <p>Kindly subscribe to our quarterly newsletter and be the first to know about the latest updates on infrastructure projects, designs, innovations, engineering solutions and industry news direct to your inbox.</p>
  <h1 id="publications">PUBLICATIONS</h1>
  <p>At Architectural and Engineering Services Limited, we are dedicated to sharing knowledge, promoting innovation, and expanding the progress of the engineering profession. Publications features a carefully curated collection of <b>Technical Reports, Financial Reports, Articles related</b> to our <b>Institution, White Papers, and Reviews</b>. We are proud to present these works to you and confident that they serve as a fine reflection of our commitment to excellence, our culture of continuous learning, and our habit of always being at the leading edge of engineering and infrastructure development.</p>
  <h2>TECHNICAL REPORT</h2>
  <p>The core operations of AESL depend on technical precision and excellence. The technical reports in this section present detailed documentation of our methodologies and project designs and engineering analyses and implementation strategies across different disciplines. Our commitment to quality and innovation and regulatory compliance and industry best practices is demonstrated through these reports. Our technical reports demonstrate how we create dependable sustainable high-performance solutions to fulfill the intricate requirements of our clients and stakeholders.</p>
  <h2>FINANCIAL REPORT</h2>
  <p>AESL maintains absolute dedication to maintaining the highest standards of transparency and accountability and financial integrity. The section enables users to access our audited financial statements together with annual financial reports and associated disclosures. The reports present detailed information about our financial results and resource utilization and long-term business sustainability. We share this information to build stakeholder trust while showing our dedication to responsible growth and sound corporate governance practices.</p>
  <h2>ARTICLES</h2>
  <p>AESL articles demonstrate our dedication to knowledge advancement through various topics about architecture engineering sustainability innovation and project delivery which contribute to built environment sector discussions. Our content invites all readers including clients and industry professionals and students to discover information and inspiration that represents the core values of our practice.</p>
  <h2>WHITE PAPERS</h2>
  <p>AESL White Papers provide comprehensive assessments along with strategic analysis and solutions for the issues facing architecture, engineering, and infrastructure development. At Architectural and Engineering Services Limited, we are committed to thought leadership and knowledge sharing that supports informed decision-making, policy development, and industry advancement.</p>
  <h2>REVIEWS</h2>
  <p>At Architectural and Engineering Services Limited, we focus on client satisfaction above all. The feedback from our clients and partners is featured regarding their engagements with us across several projects and industries. These reviews capture the essence of effectiveness and professionalism while showcasing our determination to deliver results that not only meet but frequently surpass expectations. We are proud of the confidence our clients have in us, and their experiences validate the trustworthiness, integrity, and influence of our efforts.</p>
  <h2>CONTACT DETAILS</h2>
  <ol>
    <li>The contact details of AESL should include
    <ul>
      <li>Postal Address</li>
      <li>GPS Address</li>
      <li>Active contact details</li>
    </ul>
    </li>
    <li>Location and contact details of all sixteen regional offices.</li>
  </ol>
  <h1>SOCIAL MEDIA HANDLE</h1>
  <ol>
    <li>Having social media handles (Facebook, X(twitter), YouTube, TikTok, LinkedIn) for AESL to connect with clients and the public, share projects and services and promote architectural and engineering expertise.</li>
  </ol>
</section>


<!-- page location Section -->
<section class="page__location">
  <div class="page__flex">
    <img src="{% static 'img/aesl_logo.png' %}" alt="aesl logo" class="info__building-image-large" />
    <p>AESL || {{title}}</p>
  </div>
  <p>
    Consulting Architects,<br />
    Engineers and Surveyors
  </p>
</section>

{% endblock content %}
