{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="sector__parallax">
    <div class="projects__overlay"></div>
</section>

<section class="sector__caption">
    <div>
        <h1 class="projects__title">{{ title }}</h1>
    </div>
</section>

<!-- Projects__cards -->
{% include 'partial/card-nav.html' %}

<section id="ministy-work" class="sector">
    <!-- Projects Text -->
    <article class="grid__span">
        <section class="sector__text">
            <p>
              The Ministry of Works and Housing is one of the oldest ministry and a key government agency responsible for the planning, development, and management of infrastructure and housing within the country. With its significant history tied to the country’s development and governance, the Ministry’s evolution reflects Ghana’s changing needs and priorities in infrastructure and housing, positioning it as a key player in the country’s ongoing projects.
            </p>
        </section>

        <section class="sector__wrapper">
            <img
                src="{% static 'img/works.jpg' %}"
                alt="sector_ministry"
                class=""
            />

            <div class="sector__headline">
                <p>Practice || Sector Ministry || Overview</p>
            </div>

            <div id="sector" class="sector__headline">
                <h4>sector minister</h4>
            </div>

            <div class="sector__minister">
                <div class="sector__name">
                    <img
                        src="{% static 'img/work_and_housing.jpg' %}"
                        alt="sector_ministry"
                        class=""
                    />
                    <p>
                        <span>Hon. Ahmed Ibrahim</span> <br />
                        Minister
                    </p>
                </div>
                <p>
                  Hon. Ahmed Ibrahim was appointed Minister for Local Government, Chieftaincy and Religious Affairs in January 2025 by President John Dramani Mahama.</br>

                  On 7 August 2026 (just two days ago), President Mahama reassigned him from that portfolio to Minister for Works, Housing and Water Resources.
                  Born on May 6, 1974, he hails from Banda Ahenkro in the Bono Region of Ghana.

                Before his 2025 ministerial appointment, he served as MP for Banda since 2009 and held parliamentary leadership positions, including Deputy Whip.</p>
            </div>

            <div class="sector__headline">
                <p>Practice || Sector Ministry || Overview</p>
            </div>
        </section>
    </article>

    <aside class="sector__aside">
        <div class="sector__links-wrapper">
            <a href="{% url 'practice' %}">Back to Practice</a>
            <p>Sector Ministry</p>
            <div class="sector__links">
                <a href="#ministy-work">Ministry of Works and Housing</a>
                <a href="#sector">Sector Minister</a>
            </div>
        </div>
        <div class="sector__navigation">
            <p>Previous</p>
            <a href="{% url 'mission_vision' %}"
                >AESL Mission, Vision and Values</a
            >
            <p>Next</p>
            <a href="{% url 'corporate_governance' %}"
                >AESL Corporate Governance</a
            >
        </div>
    </aside>
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
