{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main content -->
<section class="principal__parallax">
    <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
    <div>
        <h1 class="projects__title">Senior Professional</h1>
    </div>
</section>

<!-- Projects__cards -->
{% include 'partial/people-card.html' %}

<section id="ministy-work" class="sector">
    <!-- Projects Text -->
    <article class="grid__span">
        <section class="sector__text">
            <p>
                Senior professionals bring a wealth of experience and expertise
                to complex projects. They lead multidisciplinary teams, ensuring
                that innovative design and engineering solutions are effectively
                implemented. With a deep understanding of industry standards and
                regulations, they guide projects through every phase, from
                initial concept to final execution. Their strong leadership and
                mentorship foster a culture of collaboration and continuous
                improvement within the organization. Committed to sustainability
                and client success, they consistently deliver results that
                exceed expectations while promoting environmentally responsible
                practices.
            </p>
        </section>

        <section class="senior__consultants">
            {% for senior_professional in senior_professionals %} 
            {% if senior_professional.profession == 'Senior Professionals' %}
            <div class="consultants">
                <img
                    src="{{ senior_professional.profile_picture.url }}"
                    alt="random"
                />
                <div class="consultants__details">
                  <h4>{{ assistant_professional.name}}</h4>
                  <h5>~ {{ senior_professional.department }} ~</h5>
                    <p>{{ senior_professional.profession }}</p>
                </div>
                <div class="consultants__media">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
            {% endif %} {% endfor %}
        </section>
    </article>



    <aside class="sector__aside">
        <div class="sector__links-wrapper">
            <a href="{% url 'people' %}">Back to People</a>
            <p>Consultants</p>
            <div class="sector__links">
                <a href="#ministy-work">AESL Consultants</a>
                <a href="#sector">AESL Consultants List</a>
            </div>
        </div>
        <div class="sector__navigation">
            <p>Previous</p>
            <a href="{% url 'services' %}">Senior Consultants</a>
            <p>Next</p>
            <a href="{% url 'services' %}">Senior Consultants</a>
        </div>
    </aside>
</section>

<!-- page location Section -->
<section class="page__location">
    <div class="page__flex">
        <img
            src="{% static 'img/aesl_logo.png' %}"
            alt="aesl logo"
            class="info__building-image-large"
        />
        <p>AESL || {{title}}</p>
    </div>
    <p>
        Consulting Architects,<br />
        Engineers and Surveyors
    </p>
</section>

{% endblock content %}
