{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main content -->
<section class="service__parallax">
  <div class="projects__overlay"></div>
</section>

<section class="projects__caption">
  <div>
    <h1 class="projects__title">
      Services
    </h1>
  </div>
</section>

<!-- Projects__cards -->
{% include 'partial/card-nav.html' %}

<section id="overview" class="sector">
  <!-- Projects Text -->
  <article class="grid__span">
    <section class="sector__text">
      <p>AESL offers a comprehensive suite of services that encompass architectural design, engineering, project
        management, and consulting, with the goal of delivering high-quality, sustainable, and innovative solutions that
        meet client requirements and contribute to the development of robust and well-executed construction projects.
      </p>
      <p>AESL offers a range of services to deliver high-quality, sustainable and innovative solutions that meet client
        requirements and contribute to successful construction projects.</p>
    </section>

  <section class="services">
    <div class="service__cards">
      <div class="service__card">
        <a href="">Urban Planning</a>
      </div>
      <div class="service__card">
        <a href="">Building Design</a>
      </div>
      <div class="service__card">
        <a href="">Interior Desgin</a>
      </div>
      <div class="service__card">
        <a href="">Landscape Design</a>
      </div>
    </div>
    <div id="architectural" class="service__text">
      <h3>Architectural Services</h3>
      <p>Our Architectural designs promotes ideas that fosters unity between the client’s project needs and budget. It’s the philosophy of our architecture to define space that not only satisfies the shelter needs for habitation and business but also meets sustainable design goals in the context of the cityscape.</p>
      <button class="explore">Explore</button>
    </div>
  </section>

  <!-- More Projects Section -->
  <section class="more__projects padding">
    <p>AESL || practice/services/architectural services</p>
    <article class="boxes">
      <div class="box">
      </div>
      <div class="box">
      </div>
      <div class="box">
      </div>
    </article>
  </section>


    <section class="services">
    <div id="engineer" class="service__text">
      <h3>Engineering Services</h3>
      <p>AESL has a highly qualified and experienced team of engineers that can provide a wide range of capabilities including general infrastructure, heavy civil engineering and building structure design.</p>
      <button class="explore">Explore</button>
    </div>
    <div class="service__cards">
      <div class="service__card">
        <a href="">Civil/Structural Design</a>
      </div>
      <div class="service__card">
        <a href="">Installations</a>
      </div>
      <div class="service__card">
        <a href="">Geo-Technical</a>
      </div>
      <div class="service__card">
        <a href="">Water</a>
      </div>
    </div>
  </section>

  <!-- More Projects Section -->
  <section class="more__projects padding">
    <p>AESL || practice/services/Engineering services</p>
    <article class="boxes">
      <div class="box">
      </div>
      <div class="box">
      </div>
      <div class="box">
      </div>
    </article>
  </section>


  <section id="services" class="services">
    <div class="service__cards">
      <div class="service__card">
        <a href="">Quantities</a>
      </div>
      <div class="service__card">
        <a href="">Valuations</a>
      </div>
      <div class="service__card">
        <a href="">Land (Geomatics)</a>
      </div>
    </div>
    <div id="engineer" class="service__text">
      <h3>Surveying Services</h3>
      <p>We provide a range of Professional Quantity Surveying, Land Surveying and Valuation services tailored to meet our clients requirements. We always take challenges and bring them to a conclusion.</p>
      <button class="explore">Explore</button>
    </div>
  </section>




  <!-- More Projects Section -->
  <section class="more__projects padding">
    <p>AESL || practice/services/Surveying services</p>
    <article class="boxes">
      <div class="box">
      </div>
      <div class="box">
      </div>
      <div class="box">
      </div>
    </article>
  </section>


  </article>

  <aside class="sector__aside">
    <div class="sector__links-wrapper">
      <a href="{% url 'practice' %}">Back to Practice</a>
      <p>AESL Services</p>
      <div class="sector__links">
        <a href="#overview">Overview </a>
        <a href="#architectural">Architectural Services</a>
        <a href="#engineer">Engineering Services</a>
        <a href="#services">Surveying Services</a>
      </div>
    </div>
    <div class="sector__navigation">
      <p>Previous</p>
      <a href="{% url 'management' %}">AESL Management</a>
    </div>
  </aside>
</section>




{% endblock content %}
