{% load static %}
<footer class="site__footer">
  <!-- footer navigations -->
  <div class="footer__nav">
    <div>
      <h5>
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
          xmlns="http://www.w3.org/2000/svg">
          <path fill="none" stroke-width="2"
            d="M9,15 L9,23 L1,23 L1,15 L9,15 Z M23,15 L23,23 L15,23 L15,15 L23,15 Z M9,1 L9,9 L1,9 L1,1 L9,1 Z M23,1 L23,9 L15,9 L15,1 L23,1 Z">
          </path>
        </svg>
        Projects
      </h5>
      <ul>
        <li><a href="{% url 'civic_culture' %}">Civic and Culture</a></li>
        <li><a href="{% url 'education' %}">Education</a></li>
        <li><a href="{% url 'health' %}">Health</a></li>
        <li><a href="{% url 'office_retail' %}">Office Retail and Mixed-Use</a>
         </li>
        <li><a href="{% url 'residential' %}">Residential</a></li>
        <li><a href="{% url 'industrial_infrastructure' %}"
                    >Industrial and Infrastructure</a
                ></li>
      </ul>
    </div>
    <div>
      <h5>
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 256" height="1em" width="1em"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M244,204H232V99.3A12,12,0,0,0,228,76H188V51.3A12,12,0,0,0,184,28H40a12,12,0,0,0-4,23.3V204H24a12,12,0,0,0,0,24H244a12,12,0,0,0,0-24ZM208,100V204H188V100ZM60,52H164V204H148V160a12,12,0,0,0-12-12H88a12,12,0,0,0-12,12v44H60Zm64,152H100V172h24ZM72,80A12,12,0,0,1,84,68h8a12,12,0,0,1,0,24H84A12,12,0,0,1,72,80Zm48,0a12,12,0,0,1,12-12h8a12,12,0,0,1,0,24h-8A12,12,0,0,1,120,80ZM72,120a12,12,0,0,1,12-12h8a12,12,0,0,1,0,24H84A12,12,0,0,1,72,120Zm48,0a12,12,0,0,1,12-12h8a12,12,0,0,1,0,24h-8A12,12,0,0,1,120,120Z">
          </path>
        </svg> Practice
      </h5>

      <ul>
        <li><a href="{% url 'history' %}">History</a></li>
        <li><a href="{% url 'mandate' %}">Mandate</a></li>
        <li><a href="{% url 'functions' %}">Functions</a></li>
        <li><a href="{% url 'mission_vision' %}">Mission & Vision</a></li>
        <li><a href="{% url 'corporate_governance' %}">Corporate Governance</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
      </ul>
    </div>
    <div>
      <h5>
        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
          stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M4 16v-2.38C4 11.5 2.97 10.5 3 8c.03-2.72 1.49-6 4.5-6C9.37 2 10 3.8 10 5.5c0 3.11-2 5.66-2 8.68V16a2 2 0 1 1-4 0Z">
          </path>
          <path
            d="M20 20v-2.38c0-2.12 1.03-3.12 1-5.62-.03-2.72-1.49-6-4.5-6C14.63 6 14 7.8 14 9.5c0 3.11 2 5.66 2 8.68V20a2 2 0 1 0 4 0Z">
          </path>
          <path d="M16 17h4"></path>
          <path d="M4 13h4"></path>
        </svg>Principles
      </h5>

      <ul>
        <li><a href="{% url 'professional' %}">Professionalism</a></li>
        <li><a href="#">Excellence</a></li>
        <li><a href="#">Integrity</a></li>
        <li><a href="#">Sustainability</a></li>
        <li><a href="#">Empowerment</a></li>
      </ul>
    </div>
    <div>
      <h5>
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em" width="1em"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4">
          </path>
        </svg>
        People
      </h5>

      <ul>
        <li><a href="{% url 'principal_consultants' %}">Principal Consultants</a></li>
        <li><a href="{% url 'senior_consultants' %}">Senior Consultants</a></li>
        <li><a href="{% url 'consultants' %}">Consultants</a></li>
        <li><a href="{% url 'support_team' %}">Support Team</a></li>
      </ul>
    </div>
  </div>

  <!-- footer icons -->
  <div class="footer__icons">
    <div class="footer__content">
      <img src="{% static 'img/aesl_logo.png' %}" alt="aesl_logo" />
      <h4><span class="footer__icon-name">AESL</span><br /> Head Office </h4>
      <p>The Hall of Technology<br />
        Opposite The Ministry of Roads and Highways <br />
        Ministries, Accra. <br />
        Ghana</p>
      <p class="footer__content-site"><svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1"
          viewBox="0 0 17 17" class="f1-00 gc2s1 mr0-50" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <g></g>
          <path
            d="M0 2v13h17v-13h-17zM8.494 9.817l-6.896-6.817h13.82l-6.924 6.817zM5.755 8.516l-4.755 4.682v-9.383l4.755 4.701zM6.466 9.219l2.026 2.003 1.996-1.966 4.8 4.744h-13.677l4.855-4.781zM11.201 8.555l4.799-4.725v9.467l-4.799-4.742z">
          </path>
        </svg><a href="https://www.aesl.com.gh/" target="_blank"> info@aesl.com</a></p>
      <p class="footer__icons-detail">The Architectural & Engineering Services Limited (AESL) initially came to be known
        as AESC when consultancy
        services were separated from the Public Works Department (PWD) under NRCD 193, 1973.</p>
    </div>
  </div>

  <!-- Footer News Letter section -->
  <div class="footer__newsletter">
    <div class="newsletter">
      <h4>AESL Newsletter</h4>
      <p>Kindly subscribe to our quarterly newsletter and be the first to know about the latest updates on infrastructure projects, designs, innovations, engineering solutions and industry news direct to your inbox.</p>
      <form>
        <input type="email" placeholder="Enter your email">
        <button type="submit" class="subscribe">Subscribe</button>
      </form>
    </div>
    <div>

    <div class="footer__image-grid">
      <div class="image__grid">
        <img src="{% static 'img/gia.png' %}" class="grid__1" alt="footer image grid"/>
        <img src="{% static 'img/download (2).png' %}" class="grid__2" alt="footer image grid"/>
        <img src="{% static 'img/download.jpg' %}" class="grid__3" alt="footer image grid"/>
        <img src="{% static 'img/ghip.jpg' %}" class="grid__4" alt="footer image grid"/>
      </div>
      <div class="footer__image-container">
          <a href="https://www.mwh.gov.gh/" target="_blank" class="">
            <img class="image__size" src="{% static 'img/footer_icon.jpg' %}" alt="aesl_logo" />
            {% comment %}
            <div class="grid__2">
                <h4>Ministry of Works and Housing </h4>
            </div>
            {% endcomment %}
          </a>
      </div>
    </div>


  </div>

</footer>
