<!-- Projects__cards -->
<section class="projects__cards">

  <!-- Practice -->
  <div class="projects__card">
    <a href="{% url 'people' %}">People</a>
  </div>

  <!-- About / Institutional -->
  <div class="projects__card">
    <a href="{% url 'principal_consultants' %}">Principal Consultants</a>
    <a href="{% url 'senior_consultants' %}">Senior Consultants</a>
    <a href="{% url 'consultants' %}">Consultants</a>
  </div>

  <!-- Governance & Management -->
  <div class="projects__card">
    <a href="{% url 'senior_professional' %}">Senior Professionals</a>
    <a href="{% url 'professional' %}">Professionals</a>
    <a href="{% url 'assistant_professionals' %}">Assistant Professionals</a>
  </div>

  <div class="projects__card">
    <a href="{% url 'support_team' %}">Support Team</a>
    <a href="{% url 'service_personnel' %}">Service Personnel</a>
  </div>

</section>
