<!-- Projects__cards -->
<section class="projects__cards">

  <!-- Practice -->
  <div class="projects__card">
    <a href="{% url 'people' %}">People</a>
  </div>

  <!-- About / Institutional -->
  <div class="projects__card">
    <a href="{% url 'history' %}">Principal Consultants</a>
    <a href="{% url 'mandate' %}">Senior Consultants</a>
    <a href="{% url 'functions' %}">Consultants</a>
  </div>

  <!-- Governance & Management -->
  <div class="projects__card">
    <a href="{% url 'sector_ministry' %}">Senior Professionals</a>
    <a href="{% url 'corporate_governance' %}">Professionals</a>
    <a href="{% url 'management' %}">Assistant Professionals</a>
  </div>

  <div class="projects__card">
    <a href="{% url 'sector_ministry' %}">Support Team</a>
    <a href="{% url 'corporate_governance' %}">Service Personnel</a>
  </div>

</section>
