<!-- Projects__cards -->
<section class="projects__cards">

  <!-- Practice -->
  <div class="projects__card">
    <a href="#principles">Principles</a>
  </div>

  <!-- About / Institutional -->
  <div class="projects__card">
    <a href="#civic">Civic</a>
    <a href="#professionalism">Professionalism</a>
    <a href="#excellence">Excellence</a>
    <a href="#integrity">Integrity and Honesty</a>
  </div>

  <!-- Governance & Management -->
  <div class="projects__card">
    <a href="#timeline">Timeliness and Cost Effectiveness</a>
    <a href="#sustainability">Sustainability</a>
    <a href="#empowerment">Empowerment</a>
  </div>

  <!-- Services & Others -->
  <div class="projects__card-link">
    <a href=""></a>
    <!-- Add when ready -->
    <!-- <a href="">Client Speak</a> -->
    <!-- <a href="">Corporate Responsibilities</a> -->
  </div>

</section>
