<!-- Projects__cards -->
<section class="projects__cards">
    <!-- Practice -->
    <div class="projects__card">
        <a href="{% url 'projects' %}">Projects</a>
    </div>

    <!-- About / Institutional -->
    <div class="projects__card">
        <a href="{% url 'civic_culture' %}">Civic and Culture</a>
        <a href="{% url 'education' %}">Education</a>
        <a href="{% url 'health' %}">Health</a>
        <a href="{% url 'office_retail' %}">Office Retail and Mixed-Use</a>
        <a href="{% url 'residential' %}">Residential</a>
    </div>

    <!-- Governance & Management -->
    <div class="projects__card">
        <a href="{% url 'industrial_infrastructure' %}"
            >Industrial and Infrastructure</a
        >
        <a href="">Hospitality</a>
        <a href="#">Sports and Leisure</a>
        <a href="#">Landscape, Planning and Survey</a>
    </div>

    <!-- Services & Others -->
    <div class="projects__card-link">
        <a href="#">Projects List</a>
        <a href="#">Projects Map</a>
        <a href="#">Projects Films</a>
    </div>
</section>
