<!-- Projects__cards -->
<section class="projects__cards">
    <!-- Practice -->
    <div class="projects__card">
        <a href="{% url 'publications' %}">All Publications</a>
    </div>

    <!-- About / Institutional -->
    <div class="projects__card">
        <a href="{% url 'history' %}">Technical Reports</a>
        <a href="{% url 'history' %}">Financial Reports</a>
        <a href="{% url 'functions' %}">Articles</a>
    </div>

    <!-- Governance & Management -->
    <div class="projects__card">
        <a href="{% url 'sector_ministry' %}">White Papers</a>
        <a href="{% url 'management' %}">Reviews</a>
    </div>
</section>
